<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{userAdmin.EditUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{userAdmin.EditUserLabel_userId}" for="userId" />
                    <h:inputText id="userId" value="#{userController.selected.userId}" title="#{userAdmin.EditUserTitle_userId}" required="true" requiredMessage="#{userAdmin.EditUserRequiredMessage_userId}"/>
                    <h:outputLabel value="#{userAdmin.EditUserLabel_username}" for="username" />
                    <h:inputText id="username" value="#{userController.selected.username}" title="#{userAdmin.EditUserTitle_username}" required="true" requiredMessage="#{userAdmin.EditUserRequiredMessage_username}"/>
                    <h:outputLabel value="#{userAdmin.EditUserLabel_password}" for="password" />
                    <h:inputText id="password" value="#{userController.selected.password}" title="#{userAdmin.EditUserTitle_password}" required="true" requiredMessage="#{userAdmin.EditUserRequiredMessage_password}"/>
                    <h:outputLabel value="#{userAdmin.EditUserLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{userController.selected.firstName}" title="#{userAdmin.EditUserTitle_firstName}" />
                    <h:outputLabel value="#{userAdmin.EditUserLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{userController.selected.lastName}" title="#{userAdmin.EditUserTitle_lastName}" />
                    
                     <h:selectManyCheckbox id="jdbcrealmGroups" value="#{userController.selected.jdbcrealmGroups}"
                                           layout="lineDirection">
                         <f:selectItems value="#{userController.jdbcrealmGroups}" var="jdbcrealmGroup" itemLabel="#{jdbcrealmGroup.groupname}" itemValue="#{jdbcrealmGroup}"/>
                         <f:converter converterId="ashsmagicshop.control.jsf.converter.JdbcrealmGroupConverter"/>
                     </h:selectManyCheckbox>
                    
                    
                </h:panelGrid>
                <h:commandLink action="#{userController.update}" value="#{userAdmin.EditUserSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{userAdmin.EditUserViewLink}"/>
                <br />
                <h:commandLink action="#{userController.prepareList}" value="#{userAdmin.EditUserShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{userAdmin.EditUserIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
