<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
        
        
            <f:view>
                <div class="panel panel-default">
                <div class="panel-heading">Users</div>
                <div class="panel-body">
            <h:form styleClass="form">
                <div >
                    <ui:include src="/shop/paginator.xhtml">
                        <ui:param name="callerBean" value="#{userController}"/>
                        <ui:param name="outcome" value="userAdmin"/>
                    </ui:include>
                </div>
                
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red"
                                infoStyle="color: green"
                                layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{messages.ListUserEmpty}" rendered="#{userController.items.rowCount == 0}"/>
                <h:panelGroup class="panel" rendered="#{userController.items.rowCount > 0}">
                    
                    
                    
                    <h:dataTable value="#{userController.items}" 
                                 var="item" 
                                 border="0" 
                                 styleClass="table table-striped">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListUserTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListUserTitle_username}"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListUserTitle_firstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListUserTitle_lastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Actions"/>
                            </f:facet>
                            <h:commandLink action="#{userController.prepareView}" 
                                           value="#{messages.ListUserViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{userController.prepareEdit}" 
                                           value="#{messages.ListUserEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{userController.destroy}" value="#{messages.ListUserDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{userController.prepareCreate}" value="#{messages.ListUserCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{messages.ListUserIndexLink}"/>
            </h:form>
                </div>
                </div>
            </f:view>
        
    

</html>
