<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{userAdmin.ViewUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{userAdmin.ViewUserLabel_userId}"/>
                    <h:outputText value="#{userController.selected.userId}" title="#{userAdmin.ViewUserTitle_userId}"/>
                    <h:outputText value="#{userAdmin.ViewUserLabel_username}"/>
                    <h:outputText value="#{userController.selected.username}" title="#{userAdmin.ViewUserTitle_username}"/>
                    <h:outputText value="#{userAdmin.ViewUserLabel_password}"/>
                    <h:outputText value="#{userController.selected.password}" title="#{userAdmin.ViewUserTitle_password}"/>
                    <h:outputText value="#{userAdmin.ViewUserLabel_firstName}"/>
                    <h:outputText value="#{userController.selected.firstName}" title="#{userAdmin.ViewUserTitle_firstName}"/>
                    <h:outputText value="#{userAdmin.ViewUserLabel_lastName}"/>
                    <h:outputText value="#{userController.selected.lastName}" title="#{userAdmin.ViewUserTitle_lastName}"/>
                    <h:outputText value="Security Role Groups:"/>
                    <c:forEach items="#{userController.selected.jdbcrealmGroups}" var="jdbcGroup">
                        #{jdbcGroup.groupname}<br/>
                    </c:forEach> 
                </h:panelGrid>
                <br />
                <h:commandLink action="#{userController.destroyAndView}" value="#{userAdmin.ViewUserDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{userAdmin.ViewUserEditLink}"/>
                <br />
                <h:commandLink action="#{userController.prepareCreate}" value="#{userAdmin.ViewUserCreateLink}" />
                <br />
                <h:commandLink action="#{userController.prepareList}" value="#{userAdmin.ViewUserShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{userAdmin.ViewUserIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
