<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <f:view>
        
        <p>
             
            <form jsf:id="form" role="form" class="form-horizontal">             
                <h:messages errorStyle="color: red" 
                            infoStyle="color: green" 
                            layout="table"/>
                <div class="form-group row" jsf:rendered="#{!emailSignUpBean.isSignedUp}">
                    <div class="col-xs-12">
                        <div class="input-append #{emailAddress.valid ? '': 'has-error'}">
                            
                                <input jsf:id="emailAddress" 
                                       jsf:value="#{emailSignUpBean.emailAddress}" 
                                       jsf:required="true" 
                                       jsf:requiredMessage="Email Address is required."
                                       jsf:validator="com.ashsmagicshop.control.jsf.validator.EmailValidator"
                                       jsf:binding="#{emailAddress}"
                                       ps:placeholder="Email Address" 
                                       type="email"
                                       class="span2 form-control"
                                       />                        
                                               
                            <button
                                type="submit"
                                jsf:id="submitButton"
                                value="Sign Up for Email"
                                class="btn"
                                jsf:actionListener='#{emailSignUpBean.signUp}'
                                >
                                <f:ajax execute="@form" render="@form"/>
                                <i class="glyphicon glyphicon-envelope"></i>
                                <span>Sign Up</span>
                            </button>
                            </div>
                        
                    </div>
                </div>
            </form>

        </p>

    </f:view>
    
         <ui:remove>
                    <div class="#{firstName.valid ? '': 'has-error'}">
                    <input jsf:id="firstName"
                           jsf:value="#{emailSignUpBean.firstName}" 
                           jsf:required="true" 
                           jsf:requiredMessage="First Name is required."
                           jsf:binding="#{firstName}"
                           ps:placeholder="#{firstName.valid ? 'First Name': 'First Name Required'}" 
                           type="text" 
                           class="form-control"/>
                    </div>
                    <div class="#{lastName.valid ? '': 'has-error'}">
                    <input jsf:id="lastName"
                           jsf:value="#{emailSignUpBean.lastName}" 
                           jsf:required="true" 
                           jsf:requiredMessage="Last Name is required."
                           jsf:binding="#{lastName}"
                           ps:placeholder="Last Name" 
                           type="text" 
                           class="form-control"/>
                    </div>
                        </ui:remove>
</html>

