<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:rich="http://richfaces.org/rich">

    <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{messages.CreateProductTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <div class="panel panel-default">
                <div class="panel-title panel-heading">Add Product</div>
                <div class="panel-body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGroup class="form">
                    
                    <div class="form-group">
                    <h:outputLabel 
                        value="#{messages.CreateProductLabel_name}" 
                        for="name"
                        class="control-label"/>
                    <h:inputText id="name" 
                                 value="#{productController.selected.name}" 
                                 title="#{messages.CreateProductTitle_name}" 
                                 required="true" 
                                 requiredMessage="#{messages.CreateProductRequiredMessage_name}"
                                 class="form-control"/>
                    </div>
                    
                    <div class="form-group">
                    <h:outputLabel 
                        value="#{messages.CreateProductLabel_description}" 
                        for="description"
                        class="control-label"/>
                    <rich:editor 
                        
                        id="description" 
                        value="#{productController.selected.description}" 
                        title="#{messages.CreateProductTitle_description}"
                        class="form-control">
                        <f:facet name="config">
                            toolbar: 'custom',
                            language: '#{editorBean.language}',
                            startupFocus: true,
                            toolbar_custom:
                                [
                                    { name: 'document', items : [ 'NewPage','Preview' ] },
                                    { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
                                    { name: 'editing', items : [ 'Find','Replace','-','SelectAll','-','Scayt' ] },
                                    { name: 'insert', items : [ 'Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'
                                             ,'Iframe' ] },
                                            '/',
                                    { name: 'styles', items : [ 'Styles','Format' ] },
                                    { name: 'basicstyles', items : [ 'Bold','Italic','Strike','-','RemoveFormat' ] },
                                    { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote' ] },
                                    { name: 'links', items : [ 'Link','Unlink','Anchor' ] },
                                    { name: 'tools', items : [ 'Maximize' ] }
                                ]
                            </f:facet>
                    </rich:editor>
                    </div>
                    
                    <div class="form-group">
                    <h:outputLabel 
                        value="#{messages.CreateProductLabel_skuNumber}" 
                        for="skuNumber"
                        class="control-label"/>                    
                    <h:inputText id="skuNumber" 
                                 value="#{productController.selected.skuNumber}"
                                 title="#{messages.CreateProductTitle_skuNumber}"
                                 class="form-control"/>
                    </div>
                    
                    <div class="form-group">
                    <h:outputLabel value="#{messages.CreateProductLabel_price}" 
                                   for="price"
                                   class="control-label"/>
                    <h:inputText id="price" 
                                 value="#{productController.selected.price}" 
                                 title="#{messages.CreateProductTitle_price}"
                                 class="form-control"/>
                    </div>
                    
                    <div class="form-group">
                    <h:outputLabel value="#{messages.CreateProductLabel_quantity}" 
                                   for="quantity" 
                                   class="control-label"/>
                    <h:inputText id="quantity" 
                                 value="#{productController.selected.quantity}" 
                                 title="#{messages.CreateProductTitle_quantity}"
                                 class="form-control"/>
                    </div>
                    
                    <div class="form-group col-sm-5 nopadding">
                    <h:outputLabel value="Product Categories" 
                                   for="productCategories"
                                   class="control-label"/>
                    <h:selectManyCheckbox id="productCategories" 
                                          value="#{productController.selected.productCategories}"
                                          styleClass="table table-condensed col-sm-5">
                        <f:selectItems value="#{productCategoryController.productCategories}" 
                                       var="productCategory" 
                                       itemLabel="#{productCategory.name}" 
                                       itemValue="#{productCategory}"/>
                        <f:converter converterId="ashsmagicshop.control.jsf.converter.ProjectCategoryConverter"/>
                    </h:selectManyCheckbox>
                    </div>
                    <div class="clearfix"></div>
                </h:panelGroup>
                <br />
                <h:commandButton action="#{productController.create}" 
                               value="#{messages.CreateProductSaveLink}"
                               class="btn btn-default"/>
                
                <h:link outcome="productAdmin" 
                               value="Cancel"
                               class="btn btn-default"/>
                
            </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
