<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{messages.CreateProductTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    
                    <h:outputLabel value="#{messages.CreateProductLabel_name}" for="name" />
                    <h:inputText id="name" value="#{productController.selected.name}" title="#{messages.CreateProductTitle_name}" required="true" requiredMessage="#{messages.CreateProductRequiredMessage_name}"/>
                    <h:outputLabel value="#{messages.CreateProductLabel_description}" for="description" />
                    <h:inputTextarea rows="4" cols="30" id="description" value="#{productController.selected.description}" title="#{messages.CreateProductTitle_description}" />
                    <h:outputLabel value="#{messages.CreateProductLabel_skuNumber}" for="skuNumber" />
                    <h:inputText id="skuNumber" value="#{productController.selected.skuNumber}" title="#{messages.CreateProductTitle_skuNumber}" />
                    <h:outputLabel value="#{messages.CreateProductLabel_price}" for="price" />
                    <h:inputText id="price" value="#{productController.selected.price}" title="#{messages.CreateProductTitle_price}" />
                    <h:outputLabel value="#{messages.CreateProductLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{productController.selected.quantity}" title="#{messages.CreateProductTitle_quantity}" />
                    <h:selectManyCheckbox id="productCategories" value="#{userController.selected.jdbcrealmGroups}" >
                        <f:selectItems value="#{userController.jdbcrealmGroups}" var="jdbcrealmGroup" itemLabel="#{jdbcrealmGroup.groupname}" itemValue="#{jdbcrealmGroup}"/>
                        <f:converter converterId="ashsmagicshop.control.jsf.converter.JdbcrealmGroupConverter"/>
                    </h:selectManyCheckbox>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{productController.create}" value="#{messages.CreateProductSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{productController.prepareList}" value="#{messages.CreateProductShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{messages.CreateProductIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
