<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:rich="http://richfaces.org/rich">

    <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{messages.EditProductTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
        <f:view>
        <div class="panel panel-default">
            
            <div class="panel-title  panel-heading">
                Edit #{productController.selected.name}
            </div>
            <div class="panel-body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form class="form">
                <h:panelGroup layout="block" >
                    
                    <div class="form-group">
                        <h:outputLabel value="#{messages.EditProductLabel_productId}" 
                                       for="productId"
                                       class="control-label"/>
                        <h:inputText id="productId" 
                                     value="#{productController.selected.productId}" 
                                     title="#{messages.EditProductTitle_productId}" 
                                     required="true" 
                                     requiredMessage="#{messages.EditProductRequiredMessage_productId}"
                                     class="form-control"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="#{messages.EditProductLabel_name}" 
                                       for="name"
                                       class="control-label"/>
                        <input type="text" jsfc="h:inputText" id="name"
                                     value="#{productController.selected.name}" 
                                     title="#{messages.EditProductTitle_name}" 
                                     required="true" 
                                     requiredMessage="#{messages.EditProductRequiredMessage_name}"
                                     class="form-control"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="#{messages.EditProductLabel_description}"
                                       for="description" 
                                       class="control-label"/>
                       
                        <rich:editor id="description"
                                     class="form-control"
                                     value="#{productController.selected.description}"
                                     toolbar="full"  />
                            
                        
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="#{messages.EditProductLabel_skuNumber}" 
                                       for="skuNumber" 
                                       class="control-label"/>
                        <h:inputText id="skuNumber" 
                                     value="#{productController.selected.skuNumber}" 
                                    title="#{messages.EditProductTitle_skuNumber}" 
                                    class="form-control"/>
                   
                    
                        <h:outputLabel value="#{messages.EditProductLabel_price}" 
                                       for="price" 
                                       class="control-label"/>
                        <h:inputText id="price" value="#{productController.selected.price}" 
                                     title="#{messages.EditProductTitle_price}"
                                     class="form-control"/>

                        <h:outputLabel value="#{messages.EditProductLabel_quantity}" 
                                       for="quantity"
                                       class="control-label"/>
                        <h:inputText id="quantity" value="#{productController.selected.quantity}" 
                                     title="#{messages.EditProductTitle_quantity}" 
                                     class="form-control"/>

                        <h:outputLabel value="#{messages.EditProductLabel_createDate}" 
                                       for="createDate" />
                        <h:inputText id="createDate" value="#{productController.selected.createDate}" title="#{messages.EditProductTitle_createDate}" >
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:inputText>
                     </div>
                </h:panelGroup>
                <h:commandLink action="#{productController.update}" 
                               value="#{messages.EditProductSaveLink}"
                               class="btn btn-default"/>
                <hr/>
               
            </h:form>
                
                <div class="panel panel-footer">
                <h:form>
                 <div class="btn-group">
                    <h:commandLink action="#{productController.prepareView(productController.selected.productId, productController.selected)}" 
                            value="#{messages.EditProductViewLink}"
                            class="btn btn-default"/>

                    <h:commandLink action="#{productController.prepareList}" 
                                   value="#{messages.EditProductShowAllLink}"
                                   immediate="true"
                                   class="btn btn-default"/>
                    <h:link outcome="productAdmin" 
                            value="#{messages.EditProductIndexLink}" 
                            class="btn btn-default">
                        <f:param name="view" value="home.xhtml"/>
                    </h:link>
                </div>
                </h:form>
                
            </div>
            </div>
        </div>
        </f:view>
        </ui:define>
    </ui:composition>

</html>
