<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:view>
        <div class="panel panel-default">
            <div class="panel-title  panel-heading">
                Product Admin Home
            </div>
            <div class="panel-body">
                <a jsfc="h:link" outcome="productAdmin">
                    Product Admin (view, add &amp; edit Products)
                    <f:param name="view" value="List.xhtml"/>
                </a>
                <br/>
                <hr/>
                <a jsfc="h:link" outcome="productCategoryAdmin">
                    Product Category Admin (view, add &amp; edit Product Categories)
                    <f:param name="view" value="List.xhtml"/>
                </a>
            </div>
        </div>
        
        
        
    </f:view>
    
    
</html>

