<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">Product List</ui:define>
        
    <div class="panel panel-default">
        <div class="panel-title panel-heading">Products</div>
        <div class="panel-body">
            
            <h:form styleClass="form">
                <h:panelGroup layout="block" styleClass="panel">
                    <div class="btn-group btn-group-sm">
                        <h:commandLink action="#{productController.prepareCreate}" 
                                       value="#{messages.ListProductCreateLink}"
                                       class="btn btn-default"/>
                        <h:link outcome="uploadProducts" 
                                value="Upload Product File"
                                class="btn btn-default"/>
                        
                    </div>
                </h:panelGroup>
                
                <div >
                    <ui:include src="/shop/paginator.xhtml">
                        <ui:param name="callerBean" value="#{productController}"/>
                        <ui:param name="outcome" value="productAdmin"/>
                    </ui:include>
                </div>
                <h:panelGroup id="messagePanel" layout="block" styleClass="control-label">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                
                
                <h:outputText escape="false" 
                              value="#{messages.ListProductEmpty}" 
                              rendered="#{productController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{productController.items.rowCount > 0}">
                    
                    <h:dataTable value="#{productController.items}" 
                                 var="product" 
                                 rules="all" 
                                 styleClass="table table-bordered table-striped">
                        
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListProductTitle_productId}"/>
                            </f:facet>
                            <h:outputText value="#{product.productId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListProductTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{product.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListProductTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{product.description}" escape="false"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListProductTitle_skuNumber}"/>
                            </f:facet>
                            <h:outputText value="#{product.skuNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListProductTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{product.price}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{messages.ListProductTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{product.quantity}"/>
                        </h:column>
                       
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>

                            <h:commandLink action="#{productController.prepareView(product.productId)}" 
                                           value="#{messages.ListProductViewLink}"
                                           class="btn btn-default"/>
                            <h:outputText value=" "/>
                        </h:column>
                        
                    </h:dataTable>
                </h:panelGroup>
                
            </h:form>
        </div>
          </div>  
        
    

</html>
