<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        
        <ui:define name="title">Product File Upload</ui:define>
        <ui:define name="content" >
            <div class="panel panel-default">
                <div class="panel panel-heading">Product File Upload</div>
                <f:view rendered="#{!fileUploadBean.uploaded}">
                    <h:form enctype="multipart/form-data" class="form" role="form">
                        <h:inputFile id="file" value="#{fileUploadBean.file}" class="btn btn-default" />
                        <h:commandButton value="Upload" 
                                         action="#{fileUploadBean.upload()}"
                                         class="btn btn-default"/>
                    </h:form>
                </f:view>
                <h:messages infoClass="alert alert-success" />
            </div>
        </ui:define>
        
    </ui:composition>
</html>

