<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
        <f:view>
        <div class="panel panel-default">
            <div class="panel-title  panel-heading">
                View #{productController.selected.name}
            </div>
            <div class="panel-body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2" class="table">
                    <h:outputText value="#{messages.ViewProductLabel_productId}"/>
                    <h:outputText value="#{productController.selected.productId}" 
                                  title="#{messages.ViewProductTitle_productId}"/>
                    
                    <h:outputText value="#{messages.ViewProductLabel_name}"/>
                    <h:outputText value="#{productController.selected.name}" 
                                  title="#{messages.ViewProductTitle_name}"/>
                    
                    <h:outputText value="#{messages.ViewProductLabel_description}"/>
                    <h:outputText value="#{productController.selected.description}" 
                                  title="#{messages.ViewProductTitle_description}"
                                  escape="false"/>
                    
                    <h:outputText value="#{messages.ViewProductLabel_skuNumber}"/>
                    <h:outputText value="#{productController.selected.skuNumber}" 
                                  title="#{messages.ViewProductTitle_skuNumber}"/>
                    
                    <h:outputText value="#{messages.ViewProductLabel_price}"/>
                    <h:outputText value="#{productController.selected.price}" 
                                  title="#{messages.ViewProductTitle_price}"/>
                    
                    <h:outputText value="#{messages.ViewProductLabel_quantity}"/>
                    <h:outputText value="#{productController.selected.quantity}"
                                  title="#{messages.ViewProductTitle_quantity}"/>
                    
                    <h:outputText value="#{messages.ViewProductLabel_createDate}"/>
                    <h:outputText value="#{productController.selected.createDate}"
                                  title="#{messages.ViewProductTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    
                </h:panelGrid>
               
                <h:commandLink action="#{productController.prepareEdit(productController.selected)}"
                        value="#{messages.ViewProductEditLink}"
                        class="btn btn-default"/>
                <hr/>
                <div class="panel panel-footer">
                <div class="btn-group">
                    <h:commandLink action="#{productController.prepareCreate}" 
                                   value="#{messages.ViewProductCreateLink}" 
                                   class="btn btn-default"/>

                    <h:commandLink action="#{productController.prepareList}" 
                                   value="#{messages.ViewProductShowAllLink}"
                                   class="btn btn-default"/>
                        <h:link outcome="productAdmin" 
                            value="#{messages.ViewProductIndexLink}"
                            class="btn btn-default">
                        <f:param name="view" value="home.xhtml"/>
                    </h:link>
                </div>
                </div>
            </h:form>
            </div>
        </div>
        </f:view>
    

</html>
