<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.CreateInvoiceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.CreateInvoiceLabel_invoiceId}" for="invoiceId" />
                    <h:inputText id="invoiceId" value="#{invoiceController.selected.invoiceId}" title="#{shopAdmin.CreateInvoiceTitle_invoiceId}" required="true" requiredMessage="#{shopAdmin.CreateInvoiceRequiredMessage_invoiceId}"/>
                    <h:outputLabel value="#{shopAdmin.CreateInvoiceLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{invoiceController.selected.orderId}" title="#{shopAdmin.CreateInvoiceTitle_orderId}" />
                    <h:outputLabel value="#{shopAdmin.CreateInvoiceLabel_invoiceDate}" for="invoiceDate" />
                    <h:inputText id="invoiceDate" value="#{invoiceController.selected.invoiceDate}" title="#{shopAdmin.CreateInvoiceTitle_invoiceDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{shopAdmin.CreateInvoiceLabel_details}" for="details" />
                    <h:inputTextarea rows="4" cols="30" id="details" value="#{invoiceController.selected.details}" title="#{shopAdmin.CreateInvoiceTitle_details}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{invoiceController.create}" value="#{shopAdmin.CreateInvoiceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{invoiceController.prepareList}" value="#{shopAdmin.CreateInvoiceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.CreateInvoiceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
