<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListInvoiceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListInvoiceEmpty}" rendered="#{invoiceController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{invoiceController.items.rowCount > 0}">
                    <h:outputText value="#{invoiceController.pagination.pageFirstItem + 1}..#{invoiceController.pagination.pageLastItem + 1}/#{invoiceController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{invoiceController.previous}" value="#{shopAdmin.Previous} #{invoiceController.pagination.pageSize}" rendered="#{invoiceController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{invoiceController.next}" value="#{shopAdmin.Next} #{invoiceController.pagination.pageSize}" rendered="#{invoiceController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{invoiceController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListInvoiceTitle_invoiceId}"/>
                            </f:facet>
                            <h:outputText value="#{item.invoiceId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListInvoiceTitle_orderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListInvoiceTitle_invoiceDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.invoiceDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListInvoiceTitle_details}"/>
                            </f:facet>
                            <h:outputText value="#{item.details}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{invoiceController.prepareView}" value="#{shopAdmin.ListInvoiceViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{invoiceController.prepareEdit}" value="#{shopAdmin.ListInvoiceEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{invoiceController.destroy}" value="#{shopAdmin.ListInvoiceDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{invoiceController.prepareCreate}" value="#{shopAdmin.ListInvoiceCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListInvoiceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
