<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewInvoiceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewInvoiceLabel_invoiceId}"/>
                    <h:outputText value="#{invoiceController.selected.invoiceId}" title="#{shopAdmin.ViewInvoiceTitle_invoiceId}"/>
                    <h:outputText value="#{shopAdmin.ViewInvoiceLabel_orderId}"/>
                    <h:outputText value="#{invoiceController.selected.orderId}" title="#{shopAdmin.ViewInvoiceTitle_orderId}"/>
                    <h:outputText value="#{shopAdmin.ViewInvoiceLabel_invoiceDate}"/>
                    <h:outputText value="#{invoiceController.selected.invoiceDate}" title="#{shopAdmin.ViewInvoiceTitle_invoiceDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{shopAdmin.ViewInvoiceLabel_details}"/>
                    <h:outputText value="#{invoiceController.selected.details}" title="#{shopAdmin.ViewInvoiceTitle_details}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{invoiceController.destroyAndView}" value="#{shopAdmin.ViewInvoiceDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewInvoiceEditLink}"/>
                <br />
                <h:commandLink action="#{invoiceController.prepareCreate}" value="#{shopAdmin.ViewInvoiceCreateLink}" />
                <br />
                <h:commandLink action="#{invoiceController.prepareList}" value="#{shopAdmin.ViewInvoiceShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewInvoiceIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
