<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{customerOrder.EditCustomerOrderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_customerorderId}" for="customerorderId" />
                    <h:inputText id="customerorderId" value="#{customerOrderController.selected.customerorderId}" title="#{customerOrder.EditCustomerOrderTitle_customerorderId}" required="true" requiredMessage="#{customerOrder.EditCustomerOrderRequiredMessage_customerorderId}"/>
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{customerOrderController.selected.customerId}" title="#{customerOrder.EditCustomerOrderTitle_customerId}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_orderDate}" for="orderDate" />
                    <h:inputText id="orderDate" value="#{customerOrderController.selected.orderDate}" title="#{customerOrder.EditCustomerOrderTitle_orderDate}" required="true" requiredMessage="#{customerOrder.EditCustomerOrderRequiredMessage_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_billTofirstName}" for="billTofirstName" />
                    <h:inputText id="billTofirstName" value="#{customerOrderController.selected.billTofirstName}" title="#{customerOrder.EditCustomerOrderTitle_billTofirstName}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_billTolastName}" for="billTolastName" />
                    <h:inputText id="billTolastName" value="#{customerOrderController.selected.billTolastName}" title="#{customerOrder.EditCustomerOrderTitle_billTolastName}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_billToemailAddress}" for="billToemailAddress" />
                    <h:inputText id="billToemailAddress" value="#{customerOrderController.selected.billToemailAddress}" title="#{customerOrder.EditCustomerOrderTitle_billToemailAddress}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_billingAddress}" for="billingAddress" />
                    <h:selectOneMenu id="billingAddress" value="#{customerOrderController.selected.billingAddress}" title="#{customerOrder.EditCustomerOrderTitle_billingAddress}" >
                        <f:selectItems value="#{addressController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_shipTofirstName}" for="shipTofirstName" />
                    <h:inputText id="shipTofirstName" value="#{customerOrderController.selected.shipTofirstName}" title="#{customerOrder.EditCustomerOrderTitle_shipTofirstName}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_shipTolastName}" for="shipTolastName" />
                    <h:inputText id="shipTolastName" value="#{customerOrderController.selected.shipTolastName}" title="#{customerOrder.EditCustomerOrderTitle_shipTolastName}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_subTotal}" for="subTotal" />
                    <h:inputText id="subTotal" value="#{customerOrderController.selected.subTotal}" title="#{customerOrder.EditCustomerOrderTitle_subTotal}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_taxAmount}" for="taxAmount" />
                    <h:inputText id="taxAmount" value="#{customerOrderController.selected.taxAmount}" title="#{customerOrder.EditCustomerOrderTitle_taxAmount}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_shippingCharge}" for="shippingCharge" />
                    <h:inputText id="shippingCharge" value="#{customerOrderController.selected.shippingCharge}" title="#{customerOrder.EditCustomerOrderTitle_shippingCharge}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_grandTotal}" for="grandTotal" />
                    <h:inputText id="grandTotal" value="#{customerOrderController.selected.grandTotal}" title="#{customerOrder.EditCustomerOrderTitle_grandTotal}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_promotionCode}" for="promotionCode" />
                    <h:inputText id="promotionCode" value="#{customerOrderController.selected.promotionCode}" title="#{customerOrder.EditCustomerOrderTitle_promotionCode}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_orderStatusId}" for="orderStatusId" />
                    <h:inputText id="orderStatusId" value="#{customerOrderController.selected.orderStatusId}" title="#{customerOrder.EditCustomerOrderTitle_orderStatusId}" />
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_shippingService}" for="shippingService" />
                    <h:selectOneMenu id="shippingService" value="#{customerOrderController.selected.shippingService}" title="#{customerOrder.EditCustomerOrderTitle_shippingService}" >
                        <f:selectItems value="#{shippingServiceController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{customerOrder.EditCustomerOrderLabel_comments}" for="comments" />
                    <h:inputText id="comments" value="#{customerOrderController.selected.comments}" title="#{customerOrder.EditCustomerOrderTitle_comments}" />
                </h:panelGrid>
                <h:commandLink action="#{customerOrderController.update}" value="#{customerOrder.EditCustomerOrderSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{customerOrder.EditCustomerOrderViewLink}"/>
                <br />
                <h:commandLink action="#{customerOrderController.prepareList}" value="#{customerOrder.EditCustomerOrderShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.EditCustomerOrderIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
