<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    

    <f:view>
            <div class="panel panel-default">
                <div class="panel-title panel-heading">Orders</div>
                <div class="panel-body">
            <h:form styleClass="form">
                <div >
                    <ui:include src="/shop/paginator.xhtml">
                        <ui:param name="callerBean" value="#{customerOrderController}"/>
                        <ui:param name="outcome" value="customerOrder"/>
                    </ui:include>
                </div>
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" 
                              value="#{customerOrder.ListCustomerOrderEmpty}" 
                              rendered="#{customerOrderController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{customerOrderController.items.rowCount > 0}">
                    
                    <h:dataTable 
                        value="#{customerOrderController.items}"
                        var="item"
                        rules="all" styleClass="table table-bordered table-striped">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_customerorderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerorderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_customerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_orderDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billTofirstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.billTofirstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billTolastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.billTolastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billToemailAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.billToemailAddress}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billingAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.billingAddress}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shipTofirstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.shipTofirstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shipTolastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.shipTolastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_subTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.subTotal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_taxAmount}"/>
                            </f:facet>
                            <h:outputText value="#{item.taxAmount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shippingCharge}"/>
                            </f:facet>
                            <h:outputText value="#{item.shippingCharge}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_grandTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.grandTotal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_promotionCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.promotionCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_orderStatusId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderStatusId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shippingService}"/>
                            </f:facet>
                            <h:outputText value="#{item.shippingService}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_comments}"/>
                            </f:facet>
                            <h:outputText value="#{item.comments}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{customerOrderController.prepareView}" 
                                           value="#{customerOrder.ListCustomerOrderViewLink}"
                                           class="btn btn-default"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{customerOrderController.prepareEdit}" 
                                           value="#{customerOrder.ListCustomerOrderEditLink}"/>
                            <h:outputText value=" "/>
                          
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{customerOrderController.prepareCreate}" value="#{customerOrder.ListCustomerOrderCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.ListCustomerOrderIndexLink}"/>
            </h:form>
                </div>
            </div>
        
    </f:view>

</html>
