<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
        
        <div class="panel panel-default">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <div class="panel-body">
            <h:form class="form" role="form">
                <h:panelGrid columns="2">
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_customerorderId}"/>
                    <h:outputText value="#{customerOrderController.selected.customerorderId}" title="#{customerOrder.ViewCustomerOrderTitle_customerorderId}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_customerId}"/>
                    <h:outputText value="#{customerOrderController.selected.customerId}" title="#{customerOrder.ViewCustomerOrderTitle_customerId}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_orderDate}"/>
                    <h:outputText value="#{customerOrderController.selected.orderDate}" title="#{customerOrder.ViewCustomerOrderTitle_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_billTofirstName}"/>
                    <h:outputText value="#{customerOrderController.selected.billTofirstName}" title="#{customerOrder.ViewCustomerOrderTitle_billTofirstName}"/>
                   
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_billTolastName}"/>
                    <h:outputText value="#{customerOrderController.selected.billTolastName}" title="#{customerOrder.ViewCustomerOrderTitle_billTolastName}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_billToemailAddress}"/>
                    <h:outputText value="#{customerOrderController.selected.billToemailAddress}" title="#{customerOrder.ViewCustomerOrderTitle_billToemailAddress}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_billingAddress}"/>
                    <h:outputText value="#{customerOrderController.selected.billingAddress}" title="#{customerOrder.ViewCustomerOrderTitle_billingAddress}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_shipTofirstName}"/>
                    <h:outputText value="#{customerOrderController.selected.shipTofirstName}" title="#{customerOrder.ViewCustomerOrderTitle_shipTofirstName}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_shipTolastName}"/>
                    <h:outputText value="#{customerOrderController.selected.shipTolastName}" title="#{customerOrder.ViewCustomerOrderTitle_shipTolastName}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_subTotal}"/>
                    <h:outputText value="#{customerOrderController.selected.subTotal}" title="#{customerOrder.ViewCustomerOrderTitle_subTotal}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_taxAmount}"/>
                    <h:outputText value="#{customerOrderController.selected.taxAmount}" title="#{customerOrder.ViewCustomerOrderTitle_taxAmount}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_shippingCharge}"/>
                    <h:outputText value="#{customerOrderController.selected.shippingCharge}" title="#{customerOrder.ViewCustomerOrderTitle_shippingCharge}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_grandTotal}"/>
                    <h:outputText value="#{customerOrderController.selected.grandTotal}" title="#{customerOrder.ViewCustomerOrderTitle_grandTotal}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_promotionCode}"/>
                    <h:outputText value="#{customerOrderController.selected.promotionCode}" title="#{customerOrder.ViewCustomerOrderTitle_promotionCode}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_orderStatusId}"/>
                    <h:outputText value="#{customerOrderController.selected.orderStatusId}" title="#{customerOrder.ViewCustomerOrderTitle_orderStatusId}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_shippingService}"/>
                    <h:outputText value="#{customerOrderController.selected.shippingService.name}" title="#{customerOrder.ViewCustomerOrderTitle_shippingService}"/>
                    
                    <h:outputText value="#{customerOrder.ViewCustomerOrderLabel_comments}"/>
                    <h:outputText value="#{customerOrderController.selected.comments}" title="#{customerOrder.ViewCustomerOrderTitle_comments}"/>
                </h:panelGrid>
                
                <br />
                <br />
                <h:link outcome="Edit" value="#{customerOrder.ViewCustomerOrderEditLink}"/>
                <br />
                
                <h:commandLink action="#{customerOrderController.prepareList}"
                               value="#{customerOrder.ViewCustomerOrderShowAllLink}"
                               class="btn btn-default"/>
                <br />
                <br />
                <h:link outcome="customerOrder" 
                        value="#{customerOrder.ViewCustomerOrderIndexLink}"
                        class="btn btn-default">
                    <f:param name="view" value="List.xhtml"/>
                </h:link>

            </h:form>
            </div>
        </div>

</html>
