<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:of="http://omnifaces.org/functions">


    <ui:composition template="#{cartBean.template}">
        <ui:define name="title">
            <c:if test="#{request.isUserInRole('user')}">
                #{session.getAttribute("user").firstName}'s
            </c:if>
            Shopping Cart
        </ui:define>


        <ui:define name="content">  
            <f:view>
                    <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <a jsfc="h:link" outcome='index' type="button" class="btn btn-primary btn-sm">
                                                <span class="glyphicon glyphicon-share-alt"></span>Continue shopping
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div jsfc="h:panelGroup" layout="block" class="panel-body" rendered="#{cartBean.cart.numberOfItems == 0}">
                                There are no items in your Shopping Cart.
                            </div>
                            <div jsfc="h:panelGroup" layout="block" class="panel-body" rendered="#{cartBean.cart.numberOfItems > 0}">
                                <ui:repeat value="#{cartBean.cart.items}" var="item" varStatus="status">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <img class="img-responsive" src="#{request.contextPath}/img/catalog-image-264x2.png" height="70" width="70"></img>
                                        </div>
                                        <div class="col-xs-4">
                                            <h4 class="product-name"><strong>#{item.product.name}</strong></h4>
                                            <h4><small>
                                                    <h:outputText value="#{of:abbreviate(item.product.description, 50)}" 
                                                                  escape="false"/>
                                                        
                                                   
                                                </small></h4>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="col-xs-6 text-right">
                                                <h6><strong>#{item.product.price}<span class="text-muted"> x </span></strong></h6>
                                            </div>
                                            <div class="col-xs-4">
                                                <form jsfc="h:form" id="qtyUpdate" class="form" prependId="false">
                                                    <input type="text"
                                                           id="quantity"
                                                           name="quantity"
                                                           value="#{item.quantity}"
                                                           binding="#{qtyUpdate}"
                                                           class="form-control"
                                                           onchange="$('.update-cart-item-#{status.index}').click()"/>
                                                    
                                                    <div class="row">
                                                        <div class="col-xs-4"></div>
                                                        <div class="col-xs-4  text-center">
                                                        <h:commandLink action="#{cartBean.updateCartItem(item.product,param.quantity)}"
                                                                       id="updateCartLink"
                                                                       class="update-cart-item-#{status.index}"
                                                                       >
                                                           <span class="glyphicon glyphicon-refresh"> </span>
                                                        </h:commandLink>
                                                    </div>
                                                        <div class="col-xs-4"></div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-xs-2">
                                                <h:form id="frmUpdate">
                                                    <h:commandLink action="#{cartBean.updateCartItem(item.product, '0')}" class="btn btn-link btn-xs">
                                                        <span class="glyphicon glyphicon-trash"> </span>
                                                    </h:commandLink>
                                                </h:form>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>
                                </ui:repeat>

                                <hr/>
                                <div class="row">
                                    <div class="text-center">
                                        <div class="col-xs-9">
                                            <h6 class="text-right">Added items?</h6>
                                        </div>
                                        <div class="col-xs-3">
                                            <input 
                                                type="submit" 
                                                class="btn btn-default btn-sm btn-block"
                                                value="Update Cart"
                                                >
                                            </input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" jsfc="h:panelGroup" layout="block" rendered="#{cartBean.cart.numberOfItems > 0}">
                                <div class="row text-center">
                                    <div class="col-xs-9">
                                        <h4 class="text-right">Total <strong>
                                                <h:outputText value="#{cartBean.cart.getTotal()}">                                                        
                                                    <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                                                </h:outputText>
                                            </strong>
                                        </h4>
                                    </div>
                                    <div class="col-xs-3">
                                        <a jsfc="h:link" class="btn btn-success btn-block" outcome="checkout">
                                            Checkout
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer" jsfc="h:panelGroup" layout="block" rendered="#{cartBean.cart.numberOfItems == 0}">
                                <div class="row text-center">
                                    <div class="col-xs-12">
                                        <a jsfc="h:link" outcome='index' type="button" class="btn btn-primary btn-sm btn-block">
                                            <span class="glyphicon glyphicon-share-alt"></span>Continue shopping here
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
            </f:view>
        </ui:define>

    </ui:composition>
</html>


