<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
          
        <f:view>
            <div class="panel panel-primary">
            
            <div class="panel-heading panel-title">
                <i class="fa fa-magic"></i> <span class="">Shop</span>
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="col-md-12">
                    <div class="default">
                        <div class="row">
                            <div class="col-md-2 text-right">Sort by</div>
                            <div class="col-md-4">
                                <h:form prependId="false">
                                    <h:selectOneMenu
                                        id="shopSort"
                                        class="product-list-sort-select form-control"
                                        value="#{catalogBean.shopSort}"
                                        onchange="submit()">                                               
                                            <f:selectItem itemValue="name_asc" itemLabel="Name Ascending"/>
                                            <f:selectItem itemValue="name_desc" itemLabel="Name Descending"/>
                                            <f:selectItem itemValue="price_asc" itemLabel="Price Ascending"/>
                                            <f:selectItem itemValue="price_desc" itemLabel="Price Descending"/>                                            
                                    </h:selectOneMenu>
                                </h:form>
                            </div>
                            <div class="col-md-3 text-right">Number Per Page</div>
                            <div class="col-md-2">
                                <h:form prependId="false" >
                                    <h:selectOneMenu
                                        id="pageSizeCtrl"
                                        class="product-list-sort-select form-control"
                                        value="#{catalogBean.pageSize}"
                                        >
                                        <c:forEach begin="3" end="96" var="i" step="12">
                                            <f:selectItem itemValue="#{i}" itemLabel="#{i}"/>
                                        </c:forEach>                                            
                                    </h:selectOneMenu>
                                    
                                </h:form>


                            </div>
                            <div class="col-md-2">
                                <div class="ccm-paging-top">Viewing <b>#{catalogBean.pagination.pageFirstItem+1}</b> to <b><span id="pagingPageResults">#{catalogBean.pagination.pageLastItem+1}</span></b> 
                                    (<b><span id="pagingTotalResults">#{catalogBean.pagination.itemsCount}</span></b> Total)
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
            

            <ui:fragment rendered="#{catalogBean.items.rowCount > 0}">
            <div class="row">
                <div class="col-md-12 text-center">
                    
                    <ui:include src="paginator.xhtml">
                        <ui:param name="callerBean" value="#{catalogBean}"/>
                        <ui:param name="outcome" value="shop"/>
                    </ui:include>
                    
                </div>                        
            </div>
            </ui:fragment>

            <ui:repeat value="#{catalogBean.items}" var="product" varStatus="status">
                <!-- start row tag #{status.index+1} ##{catalogBean.pageSize}}-->
                <h:outputText value="&lt;div class='row'&gt;" 
                              escape="false" rendered="#{status.first or ((status.index+1) mod (catalogBean.pageSize+1) eq 0)}" />

                <!-- product -->

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel">
                            <form jsfc="h:form" class="form_#{product.productId}">
                                <input type="hidden" name="productId" value="#{product.productId}"/>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <h:link outcome="product">
                                                <f:param name="name" value="#{product.name}"/>
                                                <f:param name="productId" value="#{product.productId}"/> 
                                                <img src="#{request.contextPath}/img/catalog-image-264x2.png?amp;text=#{product.name}"
                                                 width="264"
                                                 height="264"
                                                 class="img-thumbnail center-block"/>
                                        </h:link>
                                    </div>
                                    <div class="list-group-item">
                                        <h4>
                                            <h:link outcome="product">
                                                <f:param name="name" value="#{product.name}"/>
                                                <f:param name="productId" value="#{product.productId}"/> 
                                                #{product.name}
                                            </h:link>                                                    
                                        </h4>
                                    </div>
                                    <div class="list-group-item"> 
                                        #{product.price}
                                        <strong rendered="#{product.price}">Now $#{product.price}</strong>
                                    </div>

                                    <div class="list-group-item">
                                        <h:commandButton action="#{cartBean.cart.addItem(product)}" 
                                                         id="submit" 
                                                         class="btn-block btn btn-default" 
                                                         type="submit" 
                                                         value="Add to Cart"/>
                                        <img src="#{request.contextPath}/img/ajax-loader.gif" width="16" height="16" 
                                             class="add-to-cart-loader hidden"/>
                                    </div>
                                </div>

                                <a style="display: none" href="http://placehold.it/264x264&amp;text=#{product.name}" title="" class="ccm-core-commerce-add-to-cart-lightbox-image"></a>


                            </form>
                        


                    </div>

                </div>
                <!-- end row tag -->
                <h:outputText value="&lt;/div&gt;" 
                              escape="false" rendered="#{status.last or ((status.index+1) mod catalogBean.pageSize eq 0)}" />                     
            </ui:repeat>
            
            <ui:fragment rendered="#{catalogBean.items.rowCount > 0}">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <ui:include src="paginator.xhtml">
                        <ui:param name="callerBean" value="#{catalogBean}"/>
                        <ui:param name="outcome" value="shop"/>
                    </ui:include>
                </div>                        
            </div>
            </ui:fragment>
            </div>    
            <ui:remove>
            <div class="row">
                <div class="col-sm-3" jsfc="ui:repeat" value="#{catalogBean.items}" var="product" varStatus="status">

                  <div class="thumbnail">
                    <img src="http://placehold.it/264x264&amp;text=#{product.name}"
                                                 width="264"
                                                 height="264"
                                                 class="img-thumbnail"/>
                    <div class="caption">
                        <h3> <h:link outcome="product">
                                                <f:param name="name" value="#{product.name}"/>
                                                <f:param name="productId" value="#{product.productId}"/> 
                                                #{product.name}
                                            </h:link> </h3>
                       <p>#{product}</p>
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>

                </div>

              </div>
            </ui:remove>

            <button class="btn btn-default" onclick="$('#myModal').modal('show')">Modal</button>
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer"></div>
            </div>
    </f:view>
</html>