<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
        <f:viewParam name="shopSort" value="#{catalogBean.shopSort}"/>
        <f:viewParam id="orderBy" name="orderBy" value="#{catalogBean.orderBy}"/>
        <f:viewParam id="orderByField" name="orderByField" value="#{catalogBean.orderByField}" />
        <f:viewParam id="pageSize" name="pageSize" value="#{catalogBean.pageSize}"/>
        <f:viewParam id="page" name="page" value="#{catalogBean.page}"/>
        <f:viewAction action="#{catalogBean.catalogViewAction}"/>
    </f:metadata>
    <ui:composition template="/WEB-INF/templates/site/template.xhtml">
        <ui:define name="title">Shop Products</ui:define>
        
        <ui:define name="content">
            <ui:include src="catalog.xhtml"/>
        </ui:define>        
    </ui:composition>
</html>

