<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    
                            
    <ul class="pagination text-center" >

            <ui:fragment>
               <li class="previous #{callerBean.pagination.hasPreviousPage? '':'disabled'}" >
                    <a 
                       jsf:id="navBackArrow" 
                       outcome="#{outcome}" 
                       jsfc="h:link"
                       includeViewParams="true"
                       disabled="#{callerBean.pagination.hasPreviousPage eq false}">
                                    
                        <f:param name="page" value="#{callerBean.page-1}"/>
                        &larr;
                    </a>   
            </li>

            <li class="previous #{callerBean.pagination.hasPreviousPage? '':'disabled'}" >
                    <a 
                       jsf:id="navBackText" 
                       outcome="#{outcome}" 
                       jsfc="h:link"
                       includeViewParams="true"
                       disabled="#{callerBean.pagination.hasPreviousPage eq false}">
                        <f:param name="page" value="#{callerBean.page-1}"/>
                        #{messages.Previous}
                    </a>   
            </li>
            </ui:fragment>

            
        <c:forEach begin="1" end="#{callerBean.numberOfPages }" var="i">
            <li class="#{callerBean.page eq i ? 'active': ''}">
               <a outcome="#{outcome}" 
                  jsfc="h:link"
                  includeViewParams="true">
                    <f:param name="page" value="#{i}"/>
                    #{i} 
                </a>   
            </li>
        </c:forEach>


        <ui:fragment rendered="#{callerBean.pagination.hasNextPage}"> 
            <li class="next">
                <a  
                   jsf:id="navForwardText" 
                   outcome="#{outcome}" 
                   jsfc="h:link"
                   includeViewParams="true"
                   disabled="#{callerBean.pagination.hasNextPage eq false}">
                    <f:param name="page" value="#{callerBean.page+1}"/>
                    #{messages.Next}
                </a>                                            
            </li>
        
            <li class="next">

                <a  
                   jsf:id="navForwardArrow" 
                   outcome="#{outcome}" 
                   jsfc="h:link"
                   includeViewParams="true"
                   disabled="#{callerBean.pagination.hasNextPage eq false}">
                    <f:param name="page" value="#{callerBean.page+1}"/>
                    &rarr;
                </a>
            </li>
        </ui:fragment>
    </ul>

    
</html>

