<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
          

         <f:view>
    
            
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Products</h2>
                        </div>
                    </div>
                    
                    <c:set var="itemsPerRow" value="#{productController.pageSize}"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="col-md-1">Sort by:</div>
                                    <div class="col-md-2">
                                        <form action="" method="get">
                                        <h:selectOneMenu
                                                id="shopSort"
                                                class="product-list-sort-select form-control"
                                                value="#{productController.shopSort}"
                                                onchange="submit()">                                               
                                                    <f:selectItem itemValue="name_asc" itemLabel="Name Ascending"/>
                                                    <f:selectItem itemValue="name_desc" itemLabel="Name Descending"/>
                                                    <f:selectItem itemValue="price_asc" itemLabel="Price Ascending"/>
                                                    <f:selectItem itemValue="price_desc" itemLabel="Price Descending"/>                                            
                                            </h:selectOneMenu>
                                        </form>
                                    </div>
                                    <div class="col-md-3">Number Per Page</div>
                                    <div class="col-md-2">
                                        <h:form>
                                            <h:selectOneMenu 
                                                class="product-list-sort-select form-control"
                                                value="#{productController.pageSize}"
                                                onchange="submit()"
                                                valueChangeListener="#{productController.changePageSize}">
                                                <c:forEach begin="1" end="10" var="i">
                                                    <f:selectItem itemValue="#{i}" itemLabel="#{i}"/>
                                                </c:forEach>
                                            
                                            </h:selectOneMenu>
                                        </h:form>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ccm-paging-top">Viewing <b>#{productController.pagination.pageFirstItem}</b> to <b><span id="pagingPageResults">#{productController.pagination.pageLastItem}</span></b> 
                                            (<b><span id="pagingTotalResults">#{productController.pagination.itemsCount}</span></b> Total)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="bootstrap-pagination">
                                <h:form>                                
                                <span class="currentPage active numbers"><strong></strong></span>
                                    <h:panelGroup rendered="#{productController.items.rowCount > 0}">
                                        <h:commandLink action="#{productController.previous}" value="&lt;" rendered="#{productController.pagination.hasPreviousPage}"/>&nbsp;
                                        <h:commandLink action="#{productController.previous}" value="#{messages.Previous} #{productController.pagination.pageSize}" rendered="#{productController.pagination.hasPreviousPage}"/>&nbsp;
                                        <h:commandLink action="#{productController.next}" value="#{messages.Next} #{productController.pagination.pageSize}" rendered="#{productController.pagination.hasNextPage}"/>&nbsp;
                                        <h:commandLink action="#{productController.next}" value="&gt;" rendered="#{productController.pagination.hasNextPage}"/>&nbsp;
                                    </h:panelGroup>
                                </h:form>
                            </div>
                        </div>
                    </div>
                    
                    <ui:repeat value="#{productController.items}" var="product" varStatus="status">
                        <!-- start row tag #{status.index+1} #{itemsPerRow}-->
                        <h:outputText value="&lt;div class='row'&gt;" 
                                      escape="false" rendered="#{status.first or ((status.index+1) mod (itemsPerRow+1) eq 0)}" />
      
                        <!-- product -->
                       
                        <div class="col-md-4 col-sm-6">
                            <div class="panel panel-default">
                               
                             <div class="panel-body">
                                    <form jsfc="h:form" method="post" id="add-to-cart-form" class="form_#{product.productId}">
                                        <input type="hidden" name="productId" value="#{product.productId}"/>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <a href="" class="add-to-cart-lightbox-image" title="#{product.name}">
                                                    <img src="http://placehold.it/264x264&amp;text=#{product.name}" width="264" height="264" class="img-thumbnail ccm-productListDefaultImage"/>
                                                </a>
                                            </li>
                                            <li class="list-group-item">
                                                <h4>
                                                    <h:link outcome="product">
                                                        <f:param name="name" value="#{product.name}"/>
                                                        <f:param name="productId" value="#{product.productId}"/> 
                                                        #{product.name}
                                                    </h:link>
                                                    
                                                </h4>
                                            </li>
                                            <li class="list-group-item"> 
                                                #{product.price}
                                                <strong rendered="#{product.price}">Now $#{product.price}</strong>
                                            </li>
                                            
                                            <li class="list-group-item">
                                                <h:commandButton action="#{cartBean.cart.addItem(product)}" 
                                                                 id="submit" 
                                                                 class="btn-block btn btn-default" 
                                                                 type="submit" 
                                                                 value="Add to Cart"/>
                                                <img src="#{request.contextPath}/img/ajax-loader.gif" width="16" height="16" 
                                                     class="add-to-cart-loader hidden"/>
                                            </li>
                                        </ul>
                                       
                                        </form>
                                </div>

                               
                            </div>
                        
                        </div>
                        <!-- end row tag -->
                        <h:outputText value="&lt;/div&gt;" 
                                      escape="false" rendered="#{status.last or ((status.index+1) mod itemsPerRow eq 0)}" />                     
                    </ui:repeat>
                    <ui:remove>
                    <div class="row ">
                            <!-- <h:outputText value="#{parentCssClass}"/> -->
                             <div class="#{parentCssClass}">
                                 <div class="cc-cart-links btn-group ">
                                     <ul class="nav nav-pills ">
                                         <li class="active">
                                             <a jsfc="h:link" outcome="cart" >
                                                 <i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;View Cart&nbsp;&nbsp;&nbsp;
                                                 <span class="badge pull-right">#{cartBean.cart.numberOfItems}</span>
                                             </a>
                                         </li>
                                         <li class="active">
                                             <a jsfc="h:link" outcome="checkout">
                                                 <i class="glyphicon glyphicon-saved .glyphicon "></i>&nbsp;Checkout</a>
                                         </li>
                                     </ul>
                                 </div>
                                 <br/><br/>
                             </div>
                    </div>
                    </ui:remove>
            </f:view>
</html>