<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/templates/site/template.xhtml">
       <ui:define name="content">
            <c:set var="product" value="#{productBean.product}"/>
                <div class="panel panel-primary">
                    <div class="panel-heading panel-title">#{product.name}</div>
                    <div class="panel-body">
                    <div class="row">
                        <form jsfc="h:form" 
                              method="post" 
                              id="add-to-cart-form-#{product.productId}">
                            <input type="hidden" name="productId" value="#{product.productId}"/>
                            <div class="col-xs-4 text-center">
                                <div>
                                    <a href="#{request.contextPath}/img/catalog-image-264x2.png?amp;text=#{product.name}" 
                                       class="add-to-cart-lightbox-image" 
                                       title="#{product.name}">
                                        <img src="#{request.contextPath}/img/catalog-image-264x2.png?amp;text=#{product.name}" 
                                             width="264" height="264" 
                                             class="img-thumbnail"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-8">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h4> 
                                        #{product.name}
                                    </h4>
                                    <p><h:outputText value="#{product.description}" 
                                                     escape="false"/></p>
                                </li>
                                <li class="list-group-item">
                                    <span jsf:id="productPriceSpan">
                                        <h:outputText value="#{product.price}">
                                            <f:convertNumber type="currency" currencySymbol="$" />
                                        </h:outputText>
                                    </span>
                                    <span jsf:id="productSalesPriceSpan" rendered="false">
                                    <strike>#{product.price}</strike> <strong>Now $#{product.price}</strong>
                                    </span>
                                    
                                </li>
                                <ui:remove>
                                <li class="list-group-item">
                                    <label for="akID[85][value]" class="control-label">Gender</label> 
                                    <span class="ccm-required">*</span><br/>
                                    <style type="text/css">
                                        .ccm-ui .newAttrValueRow {
                                            padding-top: 2px;
                                        }
                                    </style>
                                    <select name="akID[85][atSelectOptionID][]" id="akID[85][atSelectOptionID]1" ccm-passed-value="" class="ccm-input-select form-control"><option value="" selected="selected">** None</option><option value="54">All Female</option><option value="55">A Mix...</option><option value="56">All Male</option></select>

                                    <script type="text/javascript">
                                        //<![CDATA[
                                        var ccmAttributeTypeSelectHelper = {
                                            add: function (akID, field) {
                                                var newRow = document.createElement('div');
                                                newRow.className = 'newAttrValueRow';
                                                newRow.innerHTML = '<input name="' + field + '" type="text" value="" /> ';
                                                newRow.innerHTML += '<a title="Remove Option" class="btn btn-mini btn-danger" onclick="ccmAttributeTypeSelectHelper.remove(this)" href="javascript:void(0)"><i class="icon icon-white icon-trash"></i></a>';
                                                $('#newAttrValueRows' + akID).append(newRow);
                                            },
                                            remove: function (a) {
                                                $(a.parentNode).remove();
                                            }
                                        }
                                        //]]>
                                    </script>
                                </li>
                                </ui:remove>
                                <li class="list-group-item">
                                    <h:commandButton action="#{cartBean.cart.addItem(product)}" 
                                                     id="submit" 
                                                     class="btn btn-primary" 
                                                     type="submit" value="Add to Cart"/>
                                </li>
                            </ul>
                            </div>
                            <a style="display: none" href="http://placehold.it/264x264&amp;text=#{product.name}-2" title="" class="ccm-core-commerce-add-to-cart-lightbox-image"></a>
                            <a style="display: none" href="http://placehold.it/264x264&amp;text=#{product.name}-" title="mallard6.jpg" class="ccm-core-commerce-add-to-cart-lightbox-image"></a>
                            <a style="display: none" href="http://placehold.it/264x264&amp;text=#{product.name}-" title="mallard5.jpg" class="ccm-core-commerce-add-to-cart-lightbox-image"></a>
                            <a style="display: none" href="http://placehold.it/264x264&amp;text=#{product.name}-" title="mallard3.jpg" class="ccm-core-commerce-add-to-cart-lightbox-image"></a>
                            <a style="display: none" href="http://placehold.it/264x264&amp;text=#{product.name}-" title="mallard4.jpg" class="ccm-core-commerce-add-to-cart-lightbox-image"></a>
                            <input type="hidden" name="method" value="JSON"/>
                        </form>
                    </div>
                    </div>
                    <div class="panel-footer">
                        <a onclick="history.back()">
                        <i class="glyphicon glyphicon-arrow-left"></i>
                        </a>
                    </div>
                </div>
            
            
        </ui:define>

    </ui:composition>
</html>

