<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.EditAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_addressId}" for="addressId" />
                    <h:inputText id="addressId" value="#{addressController.selected.addressId}" title="#{shopAdmin.EditAddressTitle_addressId}" required="true" requiredMessage="#{shopAdmin.EditAddressRequiredMessage_addressId}"/>
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_addressLine1}" for="addressLine1" />
                    <h:inputText id="addressLine1" value="#{addressController.selected.addressLine1}" title="#{shopAdmin.EditAddressTitle_addressLine1}" />
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_addressLine2}" for="addressLine2" />
                    <h:inputText id="addressLine2" value="#{addressController.selected.addressLine2}" title="#{shopAdmin.EditAddressTitle_addressLine2}" />
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_addressLine3}" for="addressLine3" />
                    <h:inputText id="addressLine3" value="#{addressController.selected.addressLine3}" title="#{shopAdmin.EditAddressTitle_addressLine3}" />
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_city}" for="city" />
                    <h:inputText id="city" value="#{addressController.selected.city}" title="#{shopAdmin.EditAddressTitle_city}" />
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_state}" for="state" />
                    <h:inputText id="state" value="#{addressController.selected.state}" title="#{shopAdmin.EditAddressTitle_state}" />
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_zipCode}" for="zipCode" />
                    <h:inputText id="zipCode" value="#{addressController.selected.zipCode}" title="#{shopAdmin.EditAddressTitle_zipCode}" />
                    <h:outputLabel value="#{shopAdmin.EditAddressLabel_countryCode}" for="countryCode" />
                    <h:inputText id="countryCode" value="#{addressController.selected.countryCode}" title="#{shopAdmin.EditAddressTitle_countryCode}" />
                </h:panelGrid>
                <h:commandLink action="#{addressController.update}" value="#{shopAdmin.EditAddressSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{shopAdmin.EditAddressViewLink}"/>
                <br />
                <h:commandLink action="#{addressController.prepareList}" value="#{shopAdmin.EditAddressShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.EditAddressIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
