<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_addressId}"/>
                    <h:outputText value="#{addressController.selected.addressId}" title="#{shopAdmin.ViewAddressTitle_addressId}"/>
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_addressLine1}"/>
                    <h:outputText value="#{addressController.selected.addressLine1}" title="#{shopAdmin.ViewAddressTitle_addressLine1}"/>
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_addressLine2}"/>
                    <h:outputText value="#{addressController.selected.addressLine2}" title="#{shopAdmin.ViewAddressTitle_addressLine2}"/>
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_addressLine3}"/>
                    <h:outputText value="#{addressController.selected.addressLine3}" title="#{shopAdmin.ViewAddressTitle_addressLine3}"/>
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_city}"/>
                    <h:outputText value="#{addressController.selected.city}" title="#{shopAdmin.ViewAddressTitle_city}"/>
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_state}"/>
                    <h:outputText value="#{addressController.selected.state}" title="#{shopAdmin.ViewAddressTitle_state}"/>
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_zipCode}"/>
                    <h:outputText value="#{addressController.selected.zipCode}" title="#{shopAdmin.ViewAddressTitle_zipCode}"/>
                    <h:outputText value="#{shopAdmin.ViewAddressLabel_countryCode}"/>
                    <h:outputText value="#{addressController.selected.countryCode}" title="#{shopAdmin.ViewAddressTitle_countryCode}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{addressController.destroyAndView}" value="#{shopAdmin.ViewAddressDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewAddressEditLink}"/>
                <br />
                <h:commandLink action="#{addressController.prepareCreate}" value="#{shopAdmin.ViewAddressCreateLink}" />
                <br />
                <h:commandLink action="#{addressController.prepareList}" value="#{shopAdmin.ViewAddressShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewAddressIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
