<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.CreateShippingServiceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.CreateShippingServiceLabel_shippingserviceId}" for="shippingserviceId" />
                    <h:inputText id="shippingserviceId" value="#{shippingServiceController.selected.shippingserviceId}" title="#{shopAdmin.CreateShippingServiceTitle_shippingserviceId}" required="true" requiredMessage="#{shopAdmin.CreateShippingServiceRequiredMessage_shippingserviceId}"/>
                    <h:outputLabel value="#{shopAdmin.CreateShippingServiceLabel_name}" for="name" />
                    <h:inputText id="name" value="#{shippingServiceController.selected.name}" title="#{shopAdmin.CreateShippingServiceTitle_name}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{shippingServiceController.create}" value="#{shopAdmin.CreateShippingServiceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{shippingServiceController.prepareList}" value="#{shopAdmin.CreateShippingServiceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.CreateShippingServiceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
