<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListShippingServiceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListShippingServiceEmpty}" rendered="#{shippingServiceController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{shippingServiceController.items.rowCount > 0}">
                    <h:outputText value="#{shippingServiceController.pagination.pageFirstItem + 1}..#{shippingServiceController.pagination.pageLastItem + 1}/#{shippingServiceController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{shippingServiceController.previous}" value="#{shopAdmin.Previous} #{shippingServiceController.pagination.pageSize}" rendered="#{shippingServiceController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{shippingServiceController.next}" value="#{shopAdmin.Next} #{shippingServiceController.pagination.pageSize}" rendered="#{shippingServiceController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{shippingServiceController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListShippingServiceTitle_shippingserviceId}"/>
                            </f:facet>
                            <h:outputText value="#{item.shippingserviceId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListShippingServiceTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{shippingServiceController.prepareView}" value="#{shopAdmin.ListShippingServiceViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{shippingServiceController.prepareEdit}" value="#{shopAdmin.ListShippingServiceEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{shippingServiceController.destroy}" value="#{shopAdmin.ListShippingServiceDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{shippingServiceController.prepareCreate}" value="#{shopAdmin.ListShippingServiceCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListShippingServiceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
