<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewShippingServiceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewShippingServiceLabel_shippingserviceId}"/>
                    <h:outputText value="#{shippingServiceController.selected.shippingserviceId}" title="#{shopAdmin.ViewShippingServiceTitle_shippingserviceId}"/>
                    <h:outputText value="#{shopAdmin.ViewShippingServiceLabel_name}"/>
                    <h:outputText value="#{shippingServiceController.selected.name}" title="#{shopAdmin.ViewShippingServiceTitle_name}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{shippingServiceController.destroyAndView}" value="#{shopAdmin.ViewShippingServiceDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewShippingServiceEditLink}"/>
                <br />
                <h:commandLink action="#{shippingServiceController.prepareCreate}" value="#{shopAdmin.ViewShippingServiceCreateLink}" />
                <br />
                <h:commandLink action="#{shippingServiceController.prepareList}" value="#{shopAdmin.ViewShippingServiceShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewShippingServiceIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
