<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{customerOrder.CreateShippingServiceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{customerOrder.CreateShippingServiceLabel_shippingServiceId}" for="shippingServiceId" />
                    <h:inputText id="shippingServiceId" value="#{shippingServiceController.selected.shippingServiceId}" title="#{customerOrder.CreateShippingServiceTitle_shippingServiceId}" required="true" requiredMessage="#{customerOrder.CreateShippingServiceRequiredMessage_shippingServiceId}"/>
                    <h:outputLabel value="#{customerOrder.CreateShippingServiceLabel_name}" for="name" />
                    <h:inputText id="name" value="#{shippingServiceController.selected.name}" title="#{customerOrder.CreateShippingServiceTitle_name}" />
                    <h:outputLabel value="#{customerOrder.CreateShippingServiceLabel_cost}" for="cost" />
                    <h:inputText id="cost" value="#{shippingServiceController.selected.cost}" title="#{customerOrder.CreateShippingServiceTitle_cost}" />
                    <h:outputLabel value="#{customerOrder.CreateShippingServiceLabel_label}" for="label" />
                    <h:inputText id="label" value="#{shippingServiceController.selected.label}" title="#{customerOrder.CreateShippingServiceTitle_label}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{shippingServiceController.create}" value="#{customerOrder.CreateShippingServiceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{shippingServiceController.prepareList}" value="#{customerOrder.CreateShippingServiceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.CreateShippingServiceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
