<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{customerOrder.CreateAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_addressId}" for="addressId" />
                    <h:inputText id="addressId" value="#{addressController.selected.addressId}" title="#{customerOrder.CreateAddressTitle_addressId}" required="true" requiredMessage="#{customerOrder.CreateAddressRequiredMessage_addressId}"/>
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_addressLine1}" for="addressLine1" />
                    <h:inputText id="addressLine1" value="#{addressController.selected.addressLine1}" title="#{customerOrder.CreateAddressTitle_addressLine1}" />
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_addressLine2}" for="addressLine2" />
                    <h:inputText id="addressLine2" value="#{addressController.selected.addressLine2}" title="#{customerOrder.CreateAddressTitle_addressLine2}" />
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_addressLine3}" for="addressLine3" />
                    <h:inputText id="addressLine3" value="#{addressController.selected.addressLine3}" title="#{customerOrder.CreateAddressTitle_addressLine3}" />
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_city}" for="city" />
                    <h:inputText id="city" value="#{addressController.selected.city}" title="#{customerOrder.CreateAddressTitle_city}" />
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_zipCode}" for="zipCode" />
                    <h:inputText id="zipCode" value="#{addressController.selected.zipCode}" title="#{customerOrder.CreateAddressTitle_zipCode}" />
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_countryCode}" for="countryCode" />
                    <h:inputText id="countryCode" value="#{addressController.selected.countryCode}" title="#{customerOrder.CreateAddressTitle_countryCode}" />
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_addressName}" for="addressName" />
                    <h:inputText id="addressName" value="#{addressController.selected.addressName}" title="#{customerOrder.CreateAddressTitle_addressName}" />
                    <h:outputLabel value="#{customerOrder.CreateAddressLabel_stateCode}" for="stateCode" />
                    <h:inputText id="stateCode" value="#{addressController.selected.stateCode}" title="#{customerOrder.CreateAddressTitle_stateCode}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{addressController.create}" value="#{customerOrder.CreateAddressSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{addressController.prepareList}" value="#{customerOrder.CreateAddressShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.CreateAddressIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
