<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{customerOrder.ListAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{customerOrder.ListAddressEmpty}" rendered="#{addressController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{addressController.items.rowCount > 0}">
                    <h:outputText value="#{addressController.pagination.pageFirstItem + 1}..#{addressController.pagination.pageLastItem + 1}/#{addressController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{addressController.previous}" value="#{customerOrder.Previous} #{addressController.pagination.pageSize}" rendered="#{addressController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{addressController.next}" value="#{customerOrder.Next} #{addressController.pagination.pageSize}" rendered="#{addressController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{addressController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_addressId}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_addressLine1}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressLine1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_addressLine2}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressLine2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_addressLine3}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressLine3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_city}"/>
                            </f:facet>
                            <h:outputText value="#{item.city}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_zipCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.zipCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_countryCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.countryCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_addressName}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListAddressTitle_stateCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.stateCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{addressController.prepareView}" value="#{customerOrder.ListAddressViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{addressController.prepareEdit}" value="#{customerOrder.ListAddressEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{addressController.destroy}" value="#{customerOrder.ListAddressDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{addressController.prepareCreate}" value="#{customerOrder.ListAddressCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.ListAddressIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
