<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{customerOrder.ViewAddressTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{customerOrder.ViewAddressLabel_addressId}"/>
                    <h:outputText value="#{addressController.selected.addressId}" title="#{customerOrder.ViewAddressTitle_addressId}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_addressLine1}"/>
                    <h:outputText value="#{addressController.selected.addressLine1}" title="#{customerOrder.ViewAddressTitle_addressLine1}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_addressLine2}"/>
                    <h:outputText value="#{addressController.selected.addressLine2}" title="#{customerOrder.ViewAddressTitle_addressLine2}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_addressLine3}"/>
                    <h:outputText value="#{addressController.selected.addressLine3}" title="#{customerOrder.ViewAddressTitle_addressLine3}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_city}"/>
                    <h:outputText value="#{addressController.selected.city}" title="#{customerOrder.ViewAddressTitle_city}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_zipCode}"/>
                    <h:outputText value="#{addressController.selected.zipCode}" title="#{customerOrder.ViewAddressTitle_zipCode}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_countryCode}"/>
                    <h:outputText value="#{addressController.selected.countryCode}" title="#{customerOrder.ViewAddressTitle_countryCode}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_addressName}"/>
                    <h:outputText value="#{addressController.selected.addressName}" title="#{customerOrder.ViewAddressTitle_addressName}"/>
                    <h:outputText value="#{customerOrder.ViewAddressLabel_stateCode}"/>
                    <h:outputText value="#{addressController.selected.stateCode}" title="#{customerOrder.ViewAddressTitle_stateCode}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{addressController.destroyAndView}" value="#{customerOrder.ViewAddressDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{customerOrder.ViewAddressEditLink}"/>
                <br />
                <h:commandLink action="#{addressController.prepareCreate}" value="#{customerOrder.ViewAddressCreateLink}" />
                <br />
                <h:commandLink action="#{addressController.prepareList}" value="#{customerOrder.ViewAddressShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.ViewAddressIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
