<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    
    
    <div id="address-billing-wrapper">
        <h4>#{ui.checkout_billing_address_header}</h4>
            <fieldset id="address-billing-fieldset">
                <div class="form-group row #{billingFirstName.valid ? '' : 'has-error'}">
                    <div class="col-xs-12">
                        <label jsf:for="billingFirstName" 
                               class="control-label">#{ui.firstName_label}</label>
                        
                        <div>
                            <h:message for="billingFirstName" errorClass="control-label has-error"/>
                            <input jsf:id="billingFirstName"
                                   jsf:value="#{checkoutBean.customerOrder.billTofirstName}"
                                   jsf:binding="#{billingFirstName}"
                                   title="#{ui.firstName_title}" 
                                   class="form-control" 
                                   type="text"
                                   />
                        </div>
                    </div>
                </div>
            
            <div class="form-group row #{billingLastName.valid ? '' : 'has-error'}">
                <div class="col-xs-12">
                    <label jsf:for="billingLastName" 
                           class="control-label">#{ui.lastName_label}</label>
                    <div>
                    <h:message errorStyle="color:red" 
                               for="billingLastName" 
                               errorClass="has-error"/>
                    <input jsf:id="billingLastName" 
                           jsf:value="#{checkoutBean.customerOrder.billTolastName}" 
                           jsf:binding="#{billingLastName}"
                           title="#{ui.lastName_title}" 
                           class="form-control" 
                           type="text"/>
                    </div>
                </div>
            </div>
            
            <ui:remove>
            <div class="form-group row">
                <div class="col-xs-12">
                    <label jsf:for="billingCompany" class="control-label">Company</label>
                
                    <input jsf:id="billingCompany" 
                           title="Company" 
                           class="form-control" 
                           value="" 
                           type="text"/>
                </div>
            </div>
            </ui:remove>
                
            <div class="form-group row #{billingEmailAddress.valid ? '' : 'has-error'}">
                <div class="col-xs-12">
                    <label jsf:for="billingEmailAddress" class="control-label">#{ui.emailAddress_label}</label>
                    <div>
                    <h:message for="billingEmailAddress" errorClass="has-error"/>
                    <input jsf:id="billingEmailAddress" 
                           jsf:value="#{checkoutBean.customerOrder.billToemailAddress}"
                           jsf:binding="#{billingEmailAddress}"
                           jsf:validator="com.ashsmagicshop.control.jsf.validator.EmailValidator"
                           type="email"
                           title="#{ui.emailAddress_title}" 
                           class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12">
                    <label for="billingConfirmEmail" class="control-label">Confirm Email</label>

                    <input jsf:id="billingConfirmEmail" 
                           title="Confirm Email" 
                           class="form-control"
                           type="email"
                           autocomplete="off"
                           />

                </div>
            </div>
            
            <ui:fragment rendered="#{sessionScope.user == null}" >
                <ui:include src="createAccount.xhtml"/>
            </ui:fragment>    
            
            <div class="form-group row #{billingAddressLine1.valid ? '' : 'has-error'}">
                <div class="col-xs-12">
                    <label jsf:for="billingAddressLine1" class="control-label">#{ui.address_label}</label>
                    <h:message for="billingAddressLine1" errorClass="has-error"/>
                    <input jsf:id="billingAddressLine1"                      
                           jsf:value="#{checkoutBean.customerOrder.billingAddress.addressLine1}"
                           jsf:binding="#{billingAddressLine1}"
                           placeholder="#{ui.addressLine1_label}"
                           type="text"
                           title="#{ui.addressLine1_title}" 
                           class="form-control" />

                    <input jsf:id="billingAddressLine2" 
                           jsf:value="#{checkoutBean.customerOrder.billingAddress.addressLine2}"
                           placeholder="#{ui.addressLine2_label}"
                           title="#{ui.addressLine2_title}" 
                           type="text"
                           class="form-control" />
                </div>
            </div>


            <div class="form-group row #{billingCity.valid ? '' : 'has-error'}">
                <div class="col-xs-12">
                    <label jsf:for="billingCity" class="control-label">#{ui.city_label}</label>
                    <div>
                        <h:message for="billingCity" errorClass="control-label has-error"/>
                        <input title="#{ui.city_title}"                                          
                               class="form-control" 
                               jsf:id="billingCity"
                               jsf:value="#{checkoutBean.customerOrder.billingAddress.city}"
                               jsf:binding="#{billingCity}"
                               jsf:required="true"
                               jsf:requiredMessage="#{ui.checkout_billing} #{ui.city_label}"
                               type="text"/>
                    </div>
                </div>
            </div>

            <div class="form-group row #{billingStateCode.valid ? '' : 'has-error'}">
                <div class="col-xs-12">
                    <label jsf:for="billingStateCode" class="control-label">#{ui.state_label}</label>
                    <div>
                        <h:message for="billingStateCode" class="control-label has-error"/>
                        <h:selectOneMenu
                            id="billingStateCode"
                            title="#{ui.state_title}" 
                            class="form-control"
                            binding="#{billingStateCode}"
                            value="#{checkoutBean.customerOrder.billingAddress.stateCode}"                    
                            >
                            <f:ajax listener="#{checkoutBean.billingStateCodeChange}"   
                                    render="taxAmount grandTotal"/>
                            <f:selectItem noSelectionOption="true" itemLabel="#{ui.state_noSelectionOption_itemLabel}" />
                            <f:selectItems 
                                    value="#{selItBean.usItems}"  
                                    itemLabel="#{item.label}" 
                                    itemValue="#{item.value}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <input id="billingRegion" 
                       title="State/Province" 
                       class="form-control hidden"                       
                       value="#{checkoutBean.customerOrder.billingAddress.stateCode}" 
                       type="text"/>


            </div>

            <div class="form-group row #{billingPostalCode.valid ? '' : 'has-error'}">
                <div class="col-xs-12">
                    <label jsf:for="billingPostalCode" class="control-label">Zip/Postal Code</label>
                    <div>
                        <h:message for="billingPostalCode" errorClass="control-label has-error"/>
                        <input title="Zip/Postal Code" 
                               jsf:id="billingPostalCode"
                               jsf:binding="#{billingPostalCode}"
                               jsf:value="#{checkoutBean.customerOrder.billingAddress.zipCode}"
                               jsf:required="true"
                               jsf:requiredMessage="Billing Zip/Postal Code required"
                               class="form-control" 
                               type="text"
                               onchange="$('#form:useBillingAddressForShipping').val($(this).value);"/>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12">
                    <label jsf:for="billingTelephone" class="control-label">Phone</label><small> for billing questions</small>
                    <div>
                        <input 
                            title="Phone" 
                            class="form-control"
                            jsf:id="billingTelephone"
                            jsf:value="#{checkoutBean.billingTelephone}"
                            type="text"/>
                    </div>
                </div>
            </div>
            
                <ui:remove>
            <div class="form-group row">
                <div class="col-xs-12">
                    <label jsf:for="billingAddressName" class="control-label">Address Name</label>
                    <div >
                        <input jsf:id="billingAddressName"
                               value="#{checkoutBean.customerOrder.billingAddress.addressName}"
                               class="form-control"
                               type="text"/>
                    </div>
                </div>
            </div>
                
            <div class="form-group row">
                <div class="col-xs-12">
                    <label jsf:for="billingMobileNumber" class="control-label">Mobile Number</label>
                    <div >
                        <input jsf:id="billingMobileNumber" 
                               value="" 
                               class="form-control" 
                               type="text"/>
                    </div>  
                </div>
            </div>
                </ui:remove>
            </fieldset>
        </div>
</html>

