<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
   
    <f:view>
        <div jsf:id="create-account-container" class="">
                    <div class="form-group row">
                        <div class="col-xs-12 ">

                            <div class="checkbox-inline">
                                <input jsf:id="createAccount" 
                                       value="1" 
                                       title="Create Account" 
                                       type="checkbox"
                                       onclick="$('#password-fields').toggleClass('hidden show');"/>
                                <label jsf:for="createAccount">
                                    Create Account
                                </label><small>  email address will be login</small>
                            </div>

                        </div>

                    </div>
                    <div id="password-fields" class="form-group row hidden">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label jsf:for="accountPassword" class="control-label required">Password</label>
                                <div class="input-box">
                                    <input jsf:id="accountPassword" 
                                           title="Password" 
                                           class="form-control" 
                                           type="password"/>
                                </div>

                            </div>
                            <div class="form-group">
                                <label jsf:for="accountConfirmPassword" class="control-label">Confirm Password</label>
                                <div class="">
                                    <input jsf:id="accountConfirmPassword" 
                                           title="Confirm Password" 
                                           class="form-control" 
                                           type="password"/>
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>
        
    </f:view>
</html>

