<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [<!ENTITY nbsp "&#160;">]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    
    <ui:composition template="/WEB-INF/templates/site/templateNoSideNav.xhtml">
        <ui:define name="title">
            <h:outputText value="Checkout"></h:outputText>
        </ui:define>
        
        <ui:define name="content">
            
            <ui:fragment rendered="#{checkoutBean.checkoutComplete eq false}">
                <ui:include src="single-checkout-page.xhtml" />
            </ui:fragment>
            <ui:fragment rendered="#{checkoutBean.checkoutComplete eq true}" >
                <ui:include src="complete.xhtml" />
            </ui:fragment>
        </ui:define>
    </ui:composition>
</html>

