<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
        
            
            
                <form jsfc="h:form" jsf:id="login-form" class="form-inline">
                     <h:messages style="color: red"
                            showDetail="true"/>
                    <div>
                        <div class="form-group">
                            <label jsf:for="login-email" 
                                   class="control-label">Email Address</label>
                            <div >
                                <input class="form-control" 
                                       jsf:id="login-email"
                                       jsf:value="#{loginBean.username}" 
                                       type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label jsf:for="login-password" class="control-label">Password</label>
                            <div >
                                <input class="form-control" 
                                       jsf:id="login-password" 
                                       jsf:value="#{loginBean.password}"
                                       type="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                
                            <input type="submit" 
                                    class="btn btn-default" 
                                    id="login-submit-btn" 
                                    jsfc="h:commandButton"
                                    action="#{loginBean.validateUser}"
                                    value="Login">
                                <f:ajax execute="@form" render="@form"/>
                            </input>
                            <a id="login-forgot-link" onclick="$('#forgot-password-wrapper').toggleClass('hidden show');">Forgot your password?</a>
                            </div>  
                            
                        </div>
                    </div>
                </form>
                <div class="hidden" id="forgot-password-wrapper">
                <form jsfc="h:form" id="forgot-password-form">
                    <div>
                        <p>So you've forgotten your password.</p>
                        <div class="form-group">
                            <label jsf:for="forgot-password-email" 
                                   class="control-label">Email Address</label>
                            <div>
                                <input tabindex="-1" 
                                       class="form-control" 
                                       jsf:id="forgot-password-email" 
                                       jsf:value="#{loginBean.username}" 
                                       type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button tabindex="-1" 
                                    type="submit" 
                                    class="btn btn-default" 
                                    id="forgot-password-submit-btn">
                                <span><span>Submit</span></span>
                            </button>
                            <a tabindex="-1" class="forgot-password-back" href="javascript:void(0);">Return to Login</a>
                        </div>
                    </div>
                </form>
                <div id="forgot-password-success">
                    <p>If your user account has the email address you just entered, you'll get an email with a password reset link.</p>
                </div>
            </div>
            
        

    
</html>

