<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"      
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <f:view>
        <div id="order-review">
            <h4>ORDER REVIEW</h4>
                                                      
            <div id="order-review-cart-wrapper">
                <div id="review-cart">
                    <table class="table table-striped">                           
                            <thead>
                                <tr>
                                    <th >Product Name</th>
                                    <th >Quantity</th>
                                    <th >Subtotal</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                    <tr jsfc="ui:repeat" value="#{checkoutBean.cart.items}" var="item" varStatus="status">
                                        <td>
                                            #{item.product.name}
                                        </td>
                                        <td>#{item.quantity}</td>
                                        <td>
                                            <h:outputText value="#{item.product.price * item.quantity}">                                                        
                                                <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                                            </h:outputText>                                                                                             
                                        </td>
                                    </tr>                                
                            </tbody>
                            
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        Subtotal:
                                    </td>

                                    <td>
                                        <span class="subtotal" id="subtotal-amount">                                            
                                            <h:outputText value="#{checkoutBean.customerOrder.subTotal}">                                                        
                                                <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                                            </h:outputText>
                                        </span>		
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Shipping &amp; Handling: 
                                    </td>
                                    <td>
                                        <span class="shipping-charge" id="shipping-charge">
                                            <h:outputText id="shippingCharge" value="#{checkoutBean.customerOrder.shippingCharge}">                                                        
                                                <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                                            </h:outputText>
                                        </span>    
                                    </td>
                                </tr>
                                <tr id="sales-tax-row">
                                    <td colspan="2">
                                        Sales Tax: 
                                    </td>
                                    <td>
                                        <span class="sales-tax" id="sales-tax">
                                            <h:outputText id="taxAmount" value="#{checkoutBean.customerOrder.taxAmount}">                                                        
                                                <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                                            </h:outputText>
                                        </span>    
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>Grand Total</strong>
                                    </td>
                                    <td>
                                        <strong>
                                            <span id="grand-total">
                                                <h:outputText id="grandTotal" value="#{checkoutBean.customerOrder.grandTotal}">                                                        
                                                    <f:convertNumber type="currency" currencySymbol="$" locale="en_US" />
                                                </h:outputText>
                                            </span>
                                        </strong>
                                    </td>
                                </tr>                               
                            </tfoot>
                        </table>                    
                </div>
            </div>
            
                
                    
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label jsf:for="promotionCode">Coupon Code</label>
                            <div>
                                <input 
                                    class="form-control" 
                                    jsf:id="promotionCode"
                                    jsf:value="#{checkoutBean.customerOrder.promotionCode}"
                                    type="text"
                                    />
                                <button type="button"
                                        jsfc="h:commandButton"
                                        jsf:action="#{checkoutBean.applyCoupon}"
                                        class="btn btn-default" 
                                        id="coupon-code-apply-btn">
                                    <span>Apply Coupon</span>
                                </button>
                                
                                <button type="button" 
                                        class="btn btn-default" 
                                        id="coupon-code-cancel-btn" 
                                        onclick="return false;" 
                                        style="display:none;">
                                    <span>Cancel Coupon</span>
                                </button>
                            </div>  
                        </div>
                    </div>
            
            <div class="form-group row">
                    <div class="col-xs-12">
                        <label jsf:for="comments" class="control-label">Comments</label>
                        <br/>
                        <div >
                            <h:inputTextarea id="comments"
                                             value="#{checkoutBean.customerOrder.comments}">
                                
                            </h:inputTextarea>
                        </div>  
                    </div>
            </div>
            
                <div class="form-group row">
                    <div class="col-xs-12">
                            <input jsf:id="subscribeToNewsletter" 
                                   value="1" 
                                   title="Sign up for Newsletter" 
                                   checked="checked" 
                                   type="checkbox" 
                                   class="checkbox"/>                            
                                I'd like to receive special offer emails from Ash's Magic Shop
                            
                                <span><a jsf:href="privacy_policy" target="_blank">Our privacy policy</a></span>
                    </div>
                </div>
            
            
            <div id="place-order">
                <ui:remove>
                <button
                       class="btn btn-default" 
                       jsfc="h:commandButton"
                       type="submit"
                       jsf:value="Place Order Now"
                       title="Place Order Now" 
                       id="place-order-button"
                       jsf:action="#{checkoutBean.checkout()}"
                       >
                    
                    <span>Place Order</span>
                </button>
                </ui:remove>
                <h:commandButton action="#{checkoutBean.checkout()}"
                                 value="Place Order"
                                 class="btn btn-default"
                                 id="place-order-button"
                                 >
                    
                </h:commandButton>
                
            </div>
        </div>
    </f:view>
</html>

