<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:view>
        <div id="payment-method-wrapper">
            <h4>PAYMENT METHOD</h4>
            <div id="payment-method">
                <div >
                    <ui:remove>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label jsf:for="paymentCcType" class="control-label">Credit Card</label>
                            <div>
                                <select jsfc="h:selectOneMenu"
                                        id="paymentCcType" 
                                        class="form-control">
                                    <option jsfc="f:selectItem" itemLabel="Please select Credit Card" itemValue=""/>
                                    <option jsfc="f:selectItems" value="#{selItBean.creditCardItems}"  itemLabel="#{item.label}" itemValue="#{item.value}"/>
                                </select>
                            </div>  
                        </div>
                    </div>
                    </ui:remove>
                    <div class="form-group row #{nameOnCard.valid ? '' : 'has-error'}">    
                        <div class="col-xs-12">
                            <label for="nameOnCard" class="control-label #{nameOnCard.valid ? '' : 'has-error'}">Name on Card</label>
                            <div >
                                <input jsfc="h:inputText"
                                       title="Name on Card"
                                       id="nameOnCard"
                                       class="form-control #{nameOnCard.valid ? '' : 'has-error'}" 
                                       value="#{checkoutBean.orderPaymentMethod.nameOnCard}"
                                       binding="#{nameOnCard}"
                                       type="text"/>
                            </div>  
                        </div>
                    </div>
                    <div class="form-group row #{ccNumber.valid ? '' : 'has-error'}">
                        <div class="col-xs-12">
                            <label jsf:for="ccNumber" class="control-label #{ccNumber.valid ? '' : 'has-error'}">Card Number</label>
                            <div>
                                <input jsfc="h:inputText"
                                       id="ccNumber"
                                       value="#{checkoutBean.orderPaymentMethod.ccNumber}"
                                       binding="#{ccNumber}"
                                       title="Credit Card Number"
                                       class="form-control #{ccNumber.valid ? '' : 'has-error'}"
                                       type="text"/>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="form-group row #{expMonth.valid and expYear.valid ? '':'has-error'}">
                        <div class="col-xs-12" >
                            <label class="control-label">Expiration Date</label>  
                        </div>
                        
                        <div class="col-xs-6">
                            <h:message for="expMonth" class="control-label has-error"/>
                            <h:selectOneMenu id="expMonth"
                                    binding="#{expMonth}"
                                    class="form-control"
                                    value="#{checkoutBean.orderPaymentMethod.expMonth}"
                                    required="true"
                                    requiredMessage="Credit Card Exp Month required">
                                <f:selectItem noSelectionOption="true" itemLabel="Month"/>
                                <f:selectItems 
                                        value="#{selItBean.monthItems}" 
                                        itemValue="#{item.value}" 
                                        itemLabel="#{item.label}"/>
                                
                            </h:selectOneMenu>
                        </div>
                        <div class="col-xs-6">
                            <h:message for="expYear" class="control-label has-error"/>
                            <h:selectOneMenu id="expYear"
                                    required="true"
                                    class="form-control"
                                    binding="#{expYear}"
                                    value="#{checkoutBean.orderPaymentMethod.expYear}">
                                <option jsfc="f:selectItem" noSelectionOption="true" itemLabel="Year"/>
                                <option jsfc="f:selectItems" value="#{selItBean.yearItems}" 
                                        itemValue="#{item.value}" 
                                        itemLabel="#{item.label}"/>
                            </h:selectOneMenu>                            
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label jsf:for="verificationCode" class="control-label">#{ui.orderPaymentMethod_verificationCode}</label>
                            <input jsf:id="verificationCode"
                                   jsf:value="#{checkoutBean.orderPaymentMethod.verificationCode}"
                                   jsf:binding="#{verificationCode}"
                                   maxlength="4"
                                   type="text"
                                   class="form-control col-xs-4"/>
                        </div>
                    </div>

                    
                </div>
                

            </div>
        </div>
    </f:view>
</html>

