<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view>
        
        <div id="shipping-method-wrapper">
            <h4>SHIPPING METHOD <small id="delivery-notice">
                    <br/>All orders placed after 12:00 p.m. CST Monday through Friday will not ship 
                                until the next business day.</small></h4>
                        
                        <div id="shipping-method" class="form-group row">
                            <div class="col-xs-12">
                                <label jsf:for="shippingService" class="control-label">United States Postal Service</label>
                                <div id="shipping-vendor-methods">
                                    <fieldset id="shipping-method-fieldset">
                                    <div class="">
                                        <h:message for="shippingService"
                                                   errorClass="has-error"/>
                                        <h:selectOneRadio
                                            id="shippingService"
                                            value="#{checkoutBean.shippingService}"
                                            required="true"
                                            requiredMessage="Shipping Service is required"
                                            layout="pageDirection"
                                            >
                                            <f:converter for="shippingService" 
                                                         converterId="com.ashsmagicshop.control.jsf.converter.ShippingServiceConverter"/>
                                            <f:ajax 
                                                   render="grandTotal shippingCharge"
                                                   listener="#{checkoutBean.shippingMethodChange}"/>
                                                  
                                            <f:selectItems
                                                    value="#{checkoutBean.getShippingServices()}" 
                                                    var="ss" 
                                                    itemValue="#{ss}" itemLabel="#{ss.name}"/>
                                        </h:selectOneRadio>
                                        
                                    </div>
                                    </fieldset>
                                    <ui:remove>
                                    <h:selectOneMenu 
                                       id="shippingService"
                                       value="#{checkoutBean.shippingService}"
                                       styleClass="form-control "
                                       immediate="true"
                                       >
                                       <f:converter converterId="com.ashsmagicshop.control.jsf.converter.ShippingServiceConverter"/>
                                       <f:selectItems id="shipping-services" 
                                                      value="#{checkoutBean.getShippingServices()}" 
                                                      var="ss" 
                                                      itemValue="#{ss}" itemLabel="#{ss.name}"/>
                                   </h:selectOneMenu>
                                    </ui:remove>
                                </div>
                            </div>
                        </div>
                    </div>
    </f:view>
</html>

