<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view>
        <div id="address-shipping-wrapper">            
            <h4>SHIPPING ADDRESS</h4>
            <div id="address-shipping">
                <fieldset id="address-shipping-fieldset">                
                    <div id="shipping-address-list">
                        <div class="form-group row #{shippingFirstName.valid ? '' : 'has-error'}">
                            <div class="col-xs-12">
                                <label jsf:for="shippingFirstName" 
                                       class="control-label #{shippingFirstName.valid ? '' : 'has-error'}">First Name</label>
                                
                                <div>
                                    <h:message for="shippingFirstName" errorClass="control-label #{shippingFirstName.valid ? '' : 'has-error'}"/>
                                    <input jsf:id="shippingFirstName" 
                                           jsf:value="#{checkoutBean.customerOrder.shipTofirstName}"
                                           jsf:binding="#{shippingFirstName}"
                                           title="First Name"                                           
                                           class="form-control #{shippingFirstName.valid ? '' : 'has-error'}" 
                                           type="text"/>
                                           
                                </div>  
                            </div>
                        </div>
                        <div class="form-group row #{shippingLastName.valid ? '' : 'has-error'}">
                            <div class="col-xs-12">
                                <label jsf:for="shippingLastName" class="control-label #{shippingLastName.valid ? '' : 'has-error'}">Last Name</label>
                                <div >
                                    <input jsf:id="shippingLastName" 
                                           jsf:value="#{checkoutBean.customerOrder.shipTolastName}"
                                           jsf:binding="#{shippingLastName}"
                                           title="Last Name" 
                                           class="form-control #{shippingLastName.valid ? '' : 'has-error'}" 
                                           type="text"/>
                                </div>  
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="shippingAddressLine1" class="control-label">Address</label>
                                <div class="">
                                    <input jsf:id="shippingAddressLine1" 
                                           jsf:value="#{checkoutBean.shippingAddress.addressLine1}" 
                                           title="Street Address"
                                           class="form-control"
                                           type="text"
                                           placeholder="Shipping Address Line 1"/>
                                </div>  
                                                        
                        
                                <div class="">
                                    <input jsf:id="shippingAddressLine2" 
                                           jsf:value="#{checkoutBean.shippingAddress.addressLine2}" 
                                           type="text"
                                           title="Street Address 2" 
                                           class="form-control" 
                                           placeholder="Shipping Address Line 2"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label jsf:for="shippingCountry" class="control-label">Country</label>
                                <div >
                                    <select
                                        id="shippingCountry"
                                        jsfc="h:selectOneMenu"
                                        title="Shipping Country" 
                                        class="form-control"
                                        value="#{checkoutBean.shippingAddress.countryCode}"
                                        onchange="showRegionOrState($(this).val())"
                                        >
                                        <option jsfc="f:selectItem" itemLabel="Please select country" itemValue=""/>
                                        <option jsfc="f:selectItems" value="#{selItBean.countryItems}"  itemLabel="#{item.label}" itemValue="#{item.value}"/>
                                    </select> 
                                </div>  
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label jsf:for="shippingCity" class="control-label">City</label>
                                <div>
                                    <input  
                                        jsf:id="shippingCity" 
                                        jsf:value="#{checkoutBean.shippingAddress.city}" 
                                        type="text"
                                        title="City" 
                                        class="form-control"/>
                                </div>  
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="shippingState" class="control-label">State/Province</label>
                                <div id="">
                                    <select
                                        id="shippingStateCode"
                                        jsfc="h:selectOneMenu"
                                        title="State/Province" 
                                        class="form-control show" 
                                        value="#{checkoutBean.shippingAddress.stateCode}"
                                        >
                                        <option jsfc="f:selectItem" itemLabel="Please select region, state or province" itemValue=""/>
                                        <option jsfc="f:selectItems" value="#{selItBean.usItems}"  itemLabel="#{item.label}" itemValue="#{item.value}"/>
                                    </select>
                                    <input 
                                        jsf:id="shippingStateText" 
                                        title="State/Province" 
                                        class="form-control hidden"                       
                                        value="#{checkoutBean.customerOrder.billingAddress.stateCode}" 
                                        type="text"/>
                                </div>  
                            </div>                            
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label jsf:for="shippingPostalCode" class="control-label">Zip/Postal Code</label>
                                <div class="">
                                    <input jsf:id="shippingPostalCode"
                                           jsf:value="#{checkoutBean.shippingAddress.zipCode}"                                           
                                           jsf:immediate="true"
                                           class="form-control" 
                                           type="text"
                                           title="Zip/Postal Code" 
                                           autocomplete="off">
                                        <f:ajax event="keyup" immediate="true" listener="#{menuBean.getShippingServiceForZip}"/>
                                    </input>
                                </div>  
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="shippingTelephone" class="control-label">Phone</label><small> for shipping-related questions</small>
                                <div>
                                    
                                    <input jsf:id="shippingTelephone"
                                           jsf:value="#{checkoutBean.shippingTelephone}"
                                           title="Telephone" 
                                           class="form-control" 
                                           type="text"/>
                                </div>  
                            </div>
                        </div>

                        <ui:remove>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label jsf:for="shippingCompany">Company</label>
                                <div>
                                    <input jsf:id="shippingCompany" 
                                           title="Company" 
                                           class="form-control" 
                                           value="" 
                                           type="text"/>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="shippingMobileNumber" class="control-label">Mobile Number</label>
                                <div>
                                    <input id="shippingMobileNumber"
                                           value="" 
                                           class="form-control" 
                                           type="text"/>
                                </div>  
                            </div>
                        </div>
                        
                        
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label jsf:for="shippingAddressName">Address Name</label>
                                <div>
                                    <input jsf:id="shippingAddressName" 
                                           jsf:value="#{checkoutBean.shippingAddress.addressName}" 
                                           class="form-control" 
                                           type="text"/>
                                </div>  
                            </div>
                        </div>
                        </ui:remove>

                    </div>
                
                </fieldset>
            </div>            

        </div>
        
    </f:view>
</html>

