<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <div class="form-group row">
        <div class="col-xs-12">
            <div class="checkbox">
                <label jsf:for="useBillingAddressForShipping" class="control-label">
                    <input jsf:value="1" 
                           title="Ship to same address" 
                           jsf:id="useBillingAddressForShipping"
                           type="checkbox"
                           
                           >
                        <f:ajax listener="#{checkoutBean.useBillingForShipping}"
                                />
                        
                    </input>
                    Ship to same address
                </label>

            </div>  
        </div>
    </div>
    
</html>

