<!DOCTYPE html [<!ENTITY nbsp "&#160;"> <!ENTITY times "&#215;">] >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view>
    
    <div>
        <div class="panel panel-primary">
            
            <div class="panel-heading panel-title">
                <i class="glyphicon glyphicon-check"></i> Checkout
            </div>
            
            <div class="panel-body">
            
                <div class="container">
                <div class="row">    
                    <div class="col-xs-8 checkout-login">
                        <button id="checkout-login-close"
                                type="button" 
                                class="close" 
                                aria-label="Close"  
                                onclick="$('#checkout-login-wrapper').hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>Already have an account? Login:</p>
                        <ui:include src="login.xhtml"/>
                    </div>
                    <div class="col-xs-4">

                    </div>
                
                </div>
                </div>
            <div class="row">
               
                <form jsfc="h:form" id="checkoutForm" class="form-horizontal" >
                    
                    <div id="checkout-wrapper">
                        <div id="address-column" class="col-md-4">
                             <h:messages 
                                errorClass="has-error" 
                                showDetail="true"
                                style="color: red"/>
                            <div class="checkout-column">
                                <ui:include src="billingAddress.xhtml">
                                   
                                </ui:include>    
                                <ui:include src="shipBillAddressChk.xhtml"/>
                                <ui:include src="shippingAddress.xhtml"/>
                            </div>
                        </div>
                        <div id="shipping-payment-column" class="col-md-4">
                            <div class="checkout-column">
                                <ui:include src="shippingMethod.xhtml"/>
                                <ui:include src="paymentMethod.xhtml"/>
                            </div>
                        </div>
                        <div id="review-order-column" class="col-md-4">
                            <div class="checkout-column">
                                <ui:include src="orderReview.xhtml"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    </f:view>
</html>