<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{customerOrder.CreateCustomerOrderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_customerorderId}" for="customerorderId" />
                    <h:inputText id="customerorderId" value="#{customerOrderController.selected.customerorderId}" title="#{customerOrder.CreateCustomerOrderTitle_customerorderId}" required="true" requiredMessage="#{customerOrder.CreateCustomerOrderRequiredMessage_customerorderId}"/>
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{customerOrderController.selected.customerId}" title="#{customerOrder.CreateCustomerOrderTitle_customerId}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_orderDate}" for="orderDate" />
                    <h:inputText id="orderDate" value="#{customerOrderController.selected.orderDate}" title="#{customerOrder.CreateCustomerOrderTitle_orderDate}" required="true" requiredMessage="#{customerOrder.CreateCustomerOrderRequiredMessage_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_billTofirstName}" for="billTofirstName" />
                    <h:inputText id="billTofirstName" value="#{customerOrderController.selected.billTofirstName}" title="#{customerOrder.CreateCustomerOrderTitle_billTofirstName}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_billTolastName}" for="billTolastName" />
                    <h:inputText id="billTolastName" value="#{customerOrderController.selected.billTolastName}" title="#{customerOrder.CreateCustomerOrderTitle_billTolastName}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_billToemailAddress}" for="billToemailAddress" />
                    <h:inputText id="billToemailAddress" value="#{customerOrderController.selected.billToemailAddress}" title="#{customerOrder.CreateCustomerOrderTitle_billToemailAddress}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_billingAddress}" for="billingAddress" />
                    <h:selectOneMenu id="billingAddress" value="#{customerOrderController.selected.billingAddress}" title="#{customerOrder.CreateCustomerOrderTitle_billingAddress}" >
                        <f:selectItems value="#{addressController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_shipTofirstName}" for="shipTofirstName" />
                    <h:inputText id="shipTofirstName" value="#{customerOrderController.selected.shipTofirstName}" title="#{customerOrder.CreateCustomerOrderTitle_shipTofirstName}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_shipTolastName}" for="shipTolastName" />
                    <h:inputText id="shipTolastName" value="#{customerOrderController.selected.shipTolastName}" title="#{customerOrder.CreateCustomerOrderTitle_shipTolastName}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_subTotal}" for="subTotal" />
                    <h:inputText id="subTotal" value="#{customerOrderController.selected.subTotal}" title="#{customerOrder.CreateCustomerOrderTitle_subTotal}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_taxAmount}" for="taxAmount" />
                    <h:inputText id="taxAmount" value="#{customerOrderController.selected.taxAmount}" title="#{customerOrder.CreateCustomerOrderTitle_taxAmount}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_shippingCharge}" for="shippingCharge" />
                    <h:inputText id="shippingCharge" value="#{customerOrderController.selected.shippingCharge}" title="#{customerOrder.CreateCustomerOrderTitle_shippingCharge}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_grandTotal}" for="grandTotal" />
                    <h:inputText id="grandTotal" value="#{customerOrderController.selected.grandTotal}" title="#{customerOrder.CreateCustomerOrderTitle_grandTotal}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_promotionCode}" for="promotionCode" />
                    <h:inputText id="promotionCode" value="#{customerOrderController.selected.promotionCode}" title="#{customerOrder.CreateCustomerOrderTitle_promotionCode}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_orderStatusId}" for="orderStatusId" />
                    <h:inputText id="orderStatusId" value="#{customerOrderController.selected.orderStatusId}" title="#{customerOrder.CreateCustomerOrderTitle_orderStatusId}" />
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_shippingService}" for="shippingService" />
                    <h:selectOneMenu id="shippingService" value="#{customerOrderController.selected.shippingService}" title="#{customerOrder.CreateCustomerOrderTitle_shippingService}" >
                        <f:selectItems value="#{shippingServiceController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{customerOrder.CreateCustomerOrderLabel_comments}" for="comments" />
                    <h:inputText id="comments" value="#{customerOrderController.selected.comments}" title="#{customerOrder.CreateCustomerOrderTitle_comments}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customerOrderController.create}" value="#{customerOrder.CreateCustomerOrderSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{customerOrderController.prepareList}" value="#{customerOrder.CreateCustomerOrderShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.CreateCustomerOrderIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
