<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{customerOrder.ListCustomerOrderTitle}"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <div class="panel panel-default">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{customerOrder.ListCustomerOrderEmpty}" rendered="#{customerOrderController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{customerOrderController.items.rowCount > 0}">
                    <h:outputText value="#{customerOrderController.pagination.pageFirstItem + 1}..#{customerOrderController.pagination.pageLastItem + 1}/#{customerOrderController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{customerOrderController.previous}" value="#{customerOrder.Previous} #{customerOrderController.pagination.pageSize}" rendered="#{customerOrderController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{customerOrderController.next}" value="#{customerOrder.Next} #{customerOrderController.pagination.pageSize}" rendered="#{customerOrderController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{customerOrderController.items}" 
                                 var="item" 
                                 border="0" 
                                 cellpadding="2" 
                                 cellspacing="0" 
                                 rowClasses="jsfcrud_odd_row,jsfcrud_even_row"
                                 rules="all" 
                                 styleClass="table table-hover">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_customerorderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerorderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_customerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_orderDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billTofirstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.billTofirstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billTolastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.billTolastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billToemailAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.billToemailAddress}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_billingAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.billingAddress}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shipTofirstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.shipTofirstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shipTolastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.shipTolastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_subTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.subTotal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_taxAmount}"/>
                            </f:facet>
                            <h:outputText value="#{item.taxAmount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shippingCharge}"/>
                            </f:facet>
                            <h:outputText value="#{item.shippingCharge}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_grandTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.grandTotal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_promotionCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.promotionCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_orderStatusId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderStatusId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_shippingService}"/>
                            </f:facet>
                            <h:outputText value="#{item.shippingService}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{customerOrder.ListCustomerOrderTitle_comments}"/>
                            </f:facet>
                            <h:outputText value="#{item.comments}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{customerOrderController.prepareView}" value="#{customerOrder.ListCustomerOrderViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{customerOrderController.prepareEdit}" value="#{customerOrder.ListCustomerOrderEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{customerOrderController.destroy}" value="#{customerOrder.ListCustomerOrderDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{customerOrderController.prepareCreate}" value="#{customerOrder.ListCustomerOrderCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{customerOrder.ListCustomerOrderIndexLink}"/>
            </h:form>
            </div>
        </ui:define>
    </ui:composition>

</html>
