<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/WEB-INF/templates/site/template.xhtml">

        <ui:define name="content">
            <f:view>
                <div class="panel panel-default">
                   
                        <h:panelGroup id="messagePanel" layout="block" class="panel-info">
                            <h:messages errorStyle="alert alert-danger" 
                                        infoStyle="alert alert-success" layout="block"/>
                        </h:panelGroup>
                    <div class="panel panel-title panel-heading">
                        <span class="pull-right">
                            <small><i class="glyphicon glyphicon-asterisk "></i>Required Fields</small>
                            <br/>
                        </span>
                        <h3>Contact Us</h3>
                    
                        
                    </div>
                        <div class="panel-body">
                        <form jsfc="h:form" role="form" class="form-horizontal">
                            
                            <div class="form-group">
                                
                                <label for="InputName" class="control-label">Your Name</label>
                                <div class="input-group">
                                    <input jsfc="h:inputText" 
                                           value="#{contactUsBean.name}" 
                                           type="text" 
                                           class="form-control" 
                                           name="name" 
                                           id="name" 
                                           ps:placeholder="Enter Name" 
                                           ps:required="required" 
                                           required="true" 
                                           requiredMessage="Name is required"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk form-control-feedback"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputEmail" class="control-label">Your Email</label>
                                <div class="input-group">
                                    <input jsfc="h:inputText" required="true" requiredMessage="Email is required" value="#{contactUsBean.emailAddress}" ps:type="email" class="form-control" id="InputEmail" name="InputEmail" ps:placeholder="Enter Email" ps:required="required" >
                                        <f:validator validatorId="com.ashsmagicshop.control.jsf.validator.EmailValidator" />
                                    </input>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk form-control-feedback"></i></span></div>
                            </div>
                            <div class="form-group">
                                <label for="InputMessage" class="control-label">Message</label>
                                <div class="input-group">
                                    <textarea jsfc="h:inputTextarea" required="true" value="#{contactUsBean.message}" name="InputMessage" id="InputMessage" class="form-control" rows="5" ps:required="required"></textarea>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk form-control-feedback"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputReal">What is 4+3? (Simple Spam Checker)</label>
                                <div class="input-group">
                                    <input type="text" 
                                           class="form-control" 
                                           name="InputReal" 
                                           id="InputReal" 
                                           required="required"/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk form-control-feedback"></i></span>
                                </div>
                            </div>
                            <input jsfc="h:commandButton" action="#{contactUsBean.contactUsFormAction}" type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right"/>
                        </form> 
                    </div>
                </div>
            </f:view>
        </ui:define>
    </ui:composition>
</html>

