<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.CreateOrderPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_orderpaymentmethodId}" for="orderpaymentmethodId" />
                    <h:inputText id="orderpaymentmethodId" value="#{orderPaymentMethodController.selected.orderpaymentmethodId}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_orderpaymentmethodId}" required="true" requiredMessage="#{shopAdmin.CreateOrderPaymentMethodRequiredMessage_orderpaymentmethodId}"/>
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{orderPaymentMethodController.selected.orderId}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_orderId}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_paymentmethodId}" for="paymentmethodId" />
                    <h:inputText id="paymentmethodId" value="#{orderPaymentMethodController.selected.paymentmethodId}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_paymentmethodId}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_ccNumber}" for="ccNumber" />
                    <h:inputText id="ccNumber" value="#{orderPaymentMethodController.selected.ccNumber}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_ccNumber}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_expMonth}" for="expMonth" />
                    <h:inputText id="expMonth" value="#{orderPaymentMethodController.selected.expMonth}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_expMonth}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_expYear}" for="expYear" />
                    <h:inputText id="expYear" value="#{orderPaymentMethodController.selected.expYear}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_expYear}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_verificationCode}" for="verificationCode" />
                    <h:inputText id="verificationCode" value="#{orderPaymentMethodController.selected.verificationCode}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_verificationCode}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_nameOnCard}" for="nameOnCard" />
                    <h:inputText id="nameOnCard" value="#{orderPaymentMethodController.selected.nameOnCard}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_nameOnCard}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_otherVerificationData}" for="otherVerificationData" />
                    <h:inputText id="otherVerificationData" value="#{orderPaymentMethodController.selected.otherVerificationData}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_otherVerificationData}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderPaymentMethodLabel_paymentAmount}" for="paymentAmount" />
                    <h:inputText id="paymentAmount" value="#{orderPaymentMethodController.selected.paymentAmount}" title="#{shopAdmin.CreateOrderPaymentMethodTitle_paymentAmount}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{orderPaymentMethodController.create}" value="#{shopAdmin.CreateOrderPaymentMethodSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{orderPaymentMethodController.prepareList}" value="#{shopAdmin.CreateOrderPaymentMethodShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.CreateOrderPaymentMethodIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
