<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.EditOrderPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_orderpaymentmethodId}" for="orderpaymentmethodId" />
                    <h:inputText id="orderpaymentmethodId" value="#{orderPaymentMethodController.selected.orderpaymentmethodId}" title="#{shopAdmin.EditOrderPaymentMethodTitle_orderpaymentmethodId}" required="true" requiredMessage="#{shopAdmin.EditOrderPaymentMethodRequiredMessage_orderpaymentmethodId}"/>
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{orderPaymentMethodController.selected.orderId}" title="#{shopAdmin.EditOrderPaymentMethodTitle_orderId}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_paymentmethodId}" for="paymentmethodId" />
                    <h:inputText id="paymentmethodId" value="#{orderPaymentMethodController.selected.paymentmethodId}" title="#{shopAdmin.EditOrderPaymentMethodTitle_paymentmethodId}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_ccNumber}" for="ccNumber" />
                    <h:inputText id="ccNumber" value="#{orderPaymentMethodController.selected.ccNumber}" title="#{shopAdmin.EditOrderPaymentMethodTitle_ccNumber}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_expMonth}" for="expMonth" />
                    <h:inputText id="expMonth" value="#{orderPaymentMethodController.selected.expMonth}" title="#{shopAdmin.EditOrderPaymentMethodTitle_expMonth}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_expYear}" for="expYear" />
                    <h:inputText id="expYear" value="#{orderPaymentMethodController.selected.expYear}" title="#{shopAdmin.EditOrderPaymentMethodTitle_expYear}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_verificationCode}" for="verificationCode" />
                    <h:inputText id="verificationCode" value="#{orderPaymentMethodController.selected.verificationCode}" title="#{shopAdmin.EditOrderPaymentMethodTitle_verificationCode}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_nameOnCard}" for="nameOnCard" />
                    <h:inputText id="nameOnCard" value="#{orderPaymentMethodController.selected.nameOnCard}" title="#{shopAdmin.EditOrderPaymentMethodTitle_nameOnCard}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_otherVerificationData}" for="otherVerificationData" />
                    <h:inputText id="otherVerificationData" value="#{orderPaymentMethodController.selected.otherVerificationData}" title="#{shopAdmin.EditOrderPaymentMethodTitle_otherVerificationData}" />
                    <h:outputLabel value="#{shopAdmin.EditOrderPaymentMethodLabel_paymentAmount}" for="paymentAmount" />
                    <h:inputText id="paymentAmount" value="#{orderPaymentMethodController.selected.paymentAmount}" title="#{shopAdmin.EditOrderPaymentMethodTitle_paymentAmount}" />
                </h:panelGrid>
                <h:commandLink action="#{orderPaymentMethodController.update}" value="#{shopAdmin.EditOrderPaymentMethodSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{shopAdmin.EditOrderPaymentMethodViewLink}"/>
                <br />
                <h:commandLink action="#{orderPaymentMethodController.prepareList}" value="#{shopAdmin.EditOrderPaymentMethodShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.EditOrderPaymentMethodIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
