<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListOrderPaymentMethodEmpty}" rendered="#{orderPaymentMethodController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{orderPaymentMethodController.items.rowCount > 0}">
                    <h:outputText value="#{orderPaymentMethodController.pagination.pageFirstItem + 1}..#{orderPaymentMethodController.pagination.pageLastItem + 1}/#{orderPaymentMethodController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{orderPaymentMethodController.previous}" value="#{shopAdmin.Previous} #{orderPaymentMethodController.pagination.pageSize}" rendered="#{orderPaymentMethodController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{orderPaymentMethodController.next}" value="#{shopAdmin.Next} #{orderPaymentMethodController.pagination.pageSize}" rendered="#{orderPaymentMethodController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{orderPaymentMethodController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_orderpaymentmethodId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderpaymentmethodId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_orderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_paymentmethodId}"/>
                            </f:facet>
                            <h:outputText value="#{item.paymentmethodId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_ccNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.ccNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_expMonth}"/>
                            </f:facet>
                            <h:outputText value="#{item.expMonth}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_expYear}"/>
                            </f:facet>
                            <h:outputText value="#{item.expYear}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_verificationCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.verificationCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_nameOnCard}"/>
                            </f:facet>
                            <h:outputText value="#{item.nameOnCard}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_otherVerificationData}"/>
                            </f:facet>
                            <h:outputText value="#{item.otherVerificationData}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderPaymentMethodTitle_paymentAmount}"/>
                            </f:facet>
                            <h:outputText value="#{item.paymentAmount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{orderPaymentMethodController.prepareView}" value="#{shopAdmin.ListOrderPaymentMethodViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderPaymentMethodController.prepareEdit}" value="#{shopAdmin.ListOrderPaymentMethodEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderPaymentMethodController.destroy}" value="#{shopAdmin.ListOrderPaymentMethodDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{orderPaymentMethodController.prepareCreate}" value="#{shopAdmin.ListOrderPaymentMethodCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListOrderPaymentMethodIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
