<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_orderpaymentmethodId}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.orderpaymentmethodId}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_orderpaymentmethodId}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_orderId}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.orderId}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_orderId}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_paymentmethodId}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.paymentmethodId}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_paymentmethodId}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_ccNumber}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.ccNumber}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_ccNumber}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_expMonth}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.expMonth}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_expMonth}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_expYear}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.expYear}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_expYear}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_verificationCode}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.verificationCode}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_verificationCode}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_nameOnCard}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.nameOnCard}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_nameOnCard}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_otherVerificationData}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.otherVerificationData}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_otherVerificationData}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderPaymentMethodLabel_paymentAmount}"/>
                    <h:outputText value="#{orderPaymentMethodController.selected.paymentAmount}" title="#{shopAdmin.ViewOrderPaymentMethodTitle_paymentAmount}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{orderPaymentMethodController.destroyAndView}" value="#{shopAdmin.ViewOrderPaymentMethodDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewOrderPaymentMethodEditLink}"/>
                <br />
                <h:commandLink action="#{orderPaymentMethodController.prepareCreate}" value="#{shopAdmin.ViewOrderPaymentMethodCreateLink}" />
                <br />
                <h:commandLink action="#{orderPaymentMethodController.prepareList}" value="#{shopAdmin.ViewOrderPaymentMethodShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewOrderPaymentMethodIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
