<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    
    
    <f:view>
        
        <h:form id="create" class="form-horizontal">   
                
                <h:messages errorStyle="color: red" 
                            infoStyle="color: green" 
                            layout="table"
                            for="create"/>
               
           
                <div class="form-group row">
                    <div class="col-xs-12">
                    <label jsf:for="firstName" class="control-label">First Name</label>
                    <input jsf:id="firstName"       
                                 requiredMessage="*"
                                 value="#{registerBean.firstName}"
                                 required="true"
                                 class="form-control"
                                 type="text"/> 
                    <h:message for="create:firstName" style="color: red"/>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-xs-12">
                    <label jsf:for="lastName" class="control-label">Last Name</label>
                    <input jsf:id="lastName"  
                           requiredMessage="*"
                           value="#{registerBean.lastName}"
                           required="true"
                           type="text"
                           class="form-control"/>
                    <h:message for="create:lastName" style="color: red"/>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-xs-12">
                    <label jsf:for="emailAddress" class="control-label">Email Address</label>
                        <input jsf:id="emailAddress" 
                                       requiredMessage="*"
                                       value="#{registerBean.emailAddress}"
                                       required="true"
                                       type="text"
                                       class="form-control"/>
                        <h:message for="create:emailAddress" style="color: red"/>
                    </div>
                </div>
                
                 <div class="form-group row">
                    <div class="col-xs-12">
                    
                    <label jsf:for="username" class="control-label #{username.isValid ? '':'has-error'}">Username</label>
                        <input jsf:id="username" 
                                       
                                       jsf:value="#{registerBean.username}"
                                       binding="#{username}"
                                       type="text"
                                       class="form-control"/>
                        <h:message for="create:username" style="color: red"/>
                    
                    </div>
                </div>           
                
                <div class="form-group row">
                    <div class="col-xs-12">
                        <label jsf:for="password" class="control-label">Password</label>
                        <input type="password" jsf:id="password"    
                                             requiredMessage="*"
                                             jsf:value="#{registerBean.password}"
                                             required="true"
                                             class="form-control"/>
                              <h:message for="create:password" style="color: red"/>
                        </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-xs-12">
                    <label jsf:for="password" class="control-label">Confirm Password</label>
                        <h:inputSecret id="confirmPassword"   
                                                  requiredMessage="*"
                                                  value="#{registerBean.confirmPassword}"
                                                  required="true"
                                                  class="form-control"/>
                        <h:message for="create:confirmPassword" style="color: red"/>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-xs-12">
                        <div class="checkbox-inline">
                            
                            <h:selectBooleanCheckbox id="emailOptIn"/>
                            <label jsf:for="emailOptIn">Sign Up for Newsletters</label>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-xs-12">
                        <h:commandButton id="submit" 
                                     value="Create"
                                     action="#{registerBean.registerUser}"
                                     styleClass="btn btn-info">
                            <f:ajax execute="@form" render="@all"/>
                        </h:commandButton>
                    </div>
                </div>
        </h:form>
    </f:view>
</html>

