<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <ui:composition template="/WEB-INF/templates/site/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Book Mr. Ash for a Magic Show"></h:outputText>
        </ui:define>
        <ui:define name="head">
            <link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/datetimepicker/jquery.datetimepicker.css"/>
        </ui:define>
        
        <ui:define name="content">
            
            <div class="panel panel-primary">
                <div class="panel-heading panel-title">Book Mr. Ash for a Magic Show</div>
                <div class="panel-body" jsfc="h:panelGroup" layout="block" rendered="#{bookMagicShowBean.isEmailSent}">
                    Thanks! We will get back to you soon!
                    <table class="table">
                        
                        <tr>
                            <td>Name</td>
                            <td>#{bookMagicShowBean.name}</td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>#{bookMagicShowBean.emailAddress}</td>
                        </tr>
                        <tr>
                            <td>Date and Time of Event</td>
                            <td>#{bookMagicShowBean.strDateTimeOfEvent}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>#{bookMagicShowBean.description}</td>
                        </tr>
                       
                    </table>
                </div>
                
                <div class="panel-body" jsfc="h:panelGroup" layout="block" rendered="#{!bookMagicShowBean.isEmailSent}">
                    <form jsfc="h:form" class="form" prependId="false">
                        <fieldset>
                            <div class="form-group">
                                <div class="control-label">
                                    <label for="name">Your Name</label>
                                </div>
                                <div>
                                    <input 
                                           class="form-control"
                                           type="text" 
                                           jsf:id="name" 
                                           jsf:value="#{bookMagicShowBean.name}"
                                           placeholder=""
                                           required="true"
                                           oninvalid="this.setCustomValidity('Please enter your name')"
                                           oninput="setCustomValidity('')"
                                           jsf:required="true"
                                           jsf:requiredMessage="Please enter your name"/>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="control-label">
                                    <label for="emailAddress">Email Address</label>
                                </div>
                                <div>
                                    <input class="form-control"
                                           type="email" 
                                           jsf:id="emailAddress" 
                                           jsf:value="#{bookMagicShowBean.emailAddress}"
                                           placeholder="you@example.com"
                                           required="true"
                                           oninvalid="this.setCustomValidity('Please enter your email address')"
                                           oninput="setCustomValidity('')"
                                           jsf:required="true"
                                           jsf:requiredMessage="Please enter your email address"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label">
                                    <label for="strDateTimeOfEvent">Date and Time Of Event</label>
                                </div>
                                <div>
                                    
                                    <input jsfc="h:inputText"
                                           id="strDateTimeOfEvent"
                                           type="text" 
                                           value="#{bookMagicShowBean.strDateTimeOfEvent}"
                                           class="form-control"
                                           autocomplete="off">
                                        
                                    </input>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label">
                                    <label for="description">Description</label>
                                </div>
                                <div>
                                    
                                    <textArea jsfc="h:inputTextarea"
                                              id="description" 
                                              value="#{bookMagicShowBean.description}"
                                              class="form-control"
                                              placeholder="Event Description">#{bookMagicShowBean.description}</textArea>
                                </div>
                            </div>
                            
                            <div class="form-group">                                
                                <div>
                                    <input type="submit" 
                                           class="btn btn-primary" 
                                           value="Submit"
                                           jsfc="h:commandButton"
                                           action="#{bookMagicShowBean.bookAction}"
                                           ></input>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </ui:define>
        
         <ui:define name="postBody">
            <script src="#{request.contextPath}/js/vendor/moment.min.js"></script>
            <script src="#{request.contextPath}/js/datetimepicker/jquery.datetimepicker.js"></script>
            <script>
                Date.parseDate = function( input, format ){
                    return moment(input,format).toDate();
                  };
                  Date.prototype.dateFormat = function( format ){
                    return moment(this).format(format);
                  };
                //$(document).ready(function () {
                    //$('#dateTimeOfEvent').datetimepicker();
                //}
                $('#strDateTimeOfEvent').datetimepicker({
                    format:'YYYY/MM/DD hh:mm a',
                    formatTime:'hh:mm a',
                    formatDate:'YYYY/MM/DD'
                  });
            </script>           
        </ui:define>
    </ui:composition>
    
</html>

