

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-default {
    font-family: 'Libre Baskerville', serif;
}
.checkout-column {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 60%, rgba(125, 185, 232, 0) 100%);
    background-repeat: repeat;
    border-radius:10px;
    padding: 5px;
}

.checkout-login {
    background-color: rgba(30, 87, 153, 0.2);
    //background-image: c(to right, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background-repeat: repeat;
    border-radius:10px;
    border: 10px;
    border-color: black;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.label-as-badge {
    border-radius: 1em;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}



#shopNameMainLink{
    text-align: center;
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-size: xx-large;
    letter-spacing: 7px;
}

#sideNav li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

.navbar-default {
  background: -webkit-linear-gradient(top, rgba(25, 133, 227, 1) 0%, rgba(247, 247, 247, 1) 100%);
  background: linear-gradient(to bottom, rgba(25, 133, 227, 1) 0%, rgba(247, 247, 247, 1) 100%);
  border-color: #acd6e5;
}
 
 .footer {
  background: -webkit-linear-gradient(top, rgba(25, 133, 227, 1) 0%, rgba(247, 247, 247, 1) 100%);
  background: linear-gradient(to bottom, rgba(25, 133, 227, 1) 0%, rgba(247, 247, 247, 1) 100%);
  border-color: #acd6e5;
  border-style: solid;
  border-width: thin;
  font-family: 'Libre Baskerville', serif;
  border-radius: 4px;
 }

 h2{
    margin-top: 0px;
    margin-bottom: 10px;
 }
 
 .coolfont{
    font-family: 'Libre Baskerville', serif;
 }