<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view>
        <div class="row footer-top">
            <div class="col-xs-12">
                <p>Ash's Magic Shop 2015</p>
            </div>
        </div>
            
        <div class="row footer-bottom">
            <div class="col-xs-6">                        
                <ul class="list-inline pull-left">
                    <li><a href="#{request.contextPath}/about/">About</a></li>
                    <li><a jsfc="h:link" outcome="contact-us">Contact Us</a></li>
                    <li><a href="#{request.contextPath}/faq/">FAQ</a></li>                    
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-inline pull-right">
                    <li class="fa fa-facebook"></li><a href="http://www.facebook.com/"> Facebook</a>
                    <li class="fa fa-twitter"><a href="http://www.twitter.com/"> Twitter</a></li>
                    <li class="fa fa-pinterest"><a href="http://www.pinterest.com/"> Pinterest</a></li>
                    <li class="fa fa-youtube"></li><a href="http://www.youtube.com/"> YouTube</a>
                </ul>
            </div>
        </div>       
    </f:view>
</html>



