<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    
    <f:view>
        <div id="sidebar" class="col-xs-3 hidden-md sidebar-offcanvas">    
            <div class="list-group ">
             
              <a outcome="home" class="list-group-item" jsfc="h:link">Home</a>

              <a href="#" class="list-group-item" 
                 data-toggle="collapse" 
                 data-target="#productChildren" 
                 data-parent="#sidebar">Catalog</a>
              <div id="productChildren" class="sublinks #{view.viewId eq '/shop/index.xhtml'? '': 'collapse'}">
                  
                <a class="list-group-item small #{param.get('view') eq 'byCategory'? 'active': ''}" 
                   jsf:id="productsByCategory" 
                   outcome="shop" 
                   jsfc="h:link"
                   includeViewParams="true">
                    <f:param name="view" value="byCategory"/>
                    By Category
                </a>
                  <a class="list-group-item small #{param.get('view') eq 'byBestSellers'? 'active': ''}"
                     jsf:id="productsByBestSelling"
                     outcome="shop" 
                     jsfc="h:link"
                     includeViewParams="true">
                    <f:param name="view" value="byBestSellers"/>
                    Best Sellers
                </a>
                <a class="list-group-item small" 
                   jsf:id="productsByCategory" 
                   outcome="shop" 
                   jsfc="h:link"
                   includeViewParams="true">
                    <f:param name="view" value="bySale"/>
                    Sale
                </a>
              </div>
            </div>
        </div>        
    </f:view>
</html>

