<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <f:view>
        <div class="row">
        <div class="col-xs-1">    
            <div class="logo pull-left">
                <a href="index.html"><img src="http://placehold.it/70x70" alt="" /></a>
            </div>
        </div>
        <div class="col-xs-11 ">
            <div class="row ">
                <div class="col-xs-12" id="topNav">
                    
                     <a class="navbar-brand" id="shopNameMainLink" href="#{request.contextPath}/">Ash's Magic Shop</a>
                     <br/>
                     <small>Since 1985</small>
                    
                     <button type="button" 
                            class="navbar-toggle collapsed" 
                            data-toggle="collapse" 
                            data-target="#navbar" 
                            aria-expanded="false" 
                            aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                      <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right">         
                <!--header-middle-->
                <div class="container">
                    <div class="row">                        
                        <div class="col-sm-12">
                            <h:form>
                            <div class="shop-menu pull-right">
                                <ul id="sideNav" class="nav navbar-nav">
                                    <li jsf:id="li-myaccount"><a jsfc="h:link" outcome="/myaccount/index.xhtml" class="navbar-link"><i class="fa fa-user"></i> Account</a></li>
                                    <li jsf:id="li-shop" class="#{view.viewId == '/shop/index.xhtml'? 'active': ''}"><a jsfc="h:link" outcome="shop" ><i class="fa fa-magic"></i> Shop</a></li>
                                    <li jsf:id="li-checkout" class="#{view.viewId == '/checkout/index.xhtml'? 'active': ''}" rendered="#{cartBean.cart.numberOfItems > 0}"><a jsfc="h:link" outcome="checkout"><i class="glyphicon glyphicon-check"></i> Checkout</a></li>
                                    <li jsf:id="li-cart" class="#{view.viewId == '/shop/cart.xhtml'? 'active': ''}"><a jsf:id="link-cart" jsfc="h:link" outcome="cart"><span class="label label-default label-as-badge" jsf:id="navbarItemCount" rendered="#{cartBean.cart.numberOfItems > 0}"> #{cartBean.cart.numberOfItems}</span><i class="glyphicon glyphicon-shopping-cart"></i> Cart</a></li>
                                    <li jsf:id="li-login" class="#{view.viewId == '/login/login.xhtml'? 'active':''}" rendered="#{sessionScope.user eq null}"><a jsf:id="link-login" jsfc="h:link" outcome="login"><i class="glyphicon glyphicon-log-in"></i> Sign In</a></li>
                                   
                                    <li jsf:id="li-logout" rendered="#{sessionScope.user ne null}"><a jsf:id="link-logout" jsfc="h:commandLink" action="#{loginBean.logout()}"><i class="glyphicon glyphicon-log-out"></i> Sign Out</a></li>
                                    
                                </ul>
                            </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            <!--/header-middle-->
                
                    </div>
                </div><!--/.navbar-collapse -->
                </div>
            </div>   
                     
            </div>
        </div>

       
        
        
    </f:view>
</html>

