<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <title><ui:insert name="title">Ash's Magic Shop</ui:insert></title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
        <link rel="stylesheet"  href="#{request.contextPath}/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="#{request.contextPath}/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/css/font-awesome.min.css"/>
        <link rel="stylesheet"  href="#{request.contextPath}/css/main.css"/>
        <link rel="stylesheet" href="#{request.contextPath}/css/offcanvas.css"/>
        
        <link href='//fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'></link>

        <script src="#{request.contextPath}/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <ui:insert name="head"><!-- is it there?--></ui:insert>
    </h:head>


    <h:body>
        <div class="container-fluid">
            <ui:insert name="navigation">                
                 <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <ui:include src="/WEB-INF/templates/site/navigation.xhtml" />
                    </div>
                 </nav>
                
            </ui:insert>

            <div class="row">
                <div class="col-xs-12">
                    <main>                    
                        <ui:insert name="content">                   

                        </ui:insert>
                    </main>
                    <hr/>
                </div>           
                
            </div>
            <footer>
                <div class="footer">
                    <div class="footer-top row">
                        <div class="col-xs-12">
                            <ui:include src="footer.xhtml"/>
                        </div>
                    </div>
                </div>             
            </footer>
        </div>
    </h:body>
    <script src="#{request.contextPath}/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="#{request.contextPath}/js/vendor/bootstrap.min.js"></script>
    <script src="#{request.contextPath}/js/main.js"></script>
    <script src="#{request.contextPath}/js/checkout.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
    -->

</html>
