<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.EditOrderHasOrderPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.EditOrderHasOrderPaymentMethodLabel_orderHasOrderPaymentMethodPK_orderorderId}" for="orderHasOrderPaymentMethodPK_orderorderId" />
                    <h:inputText id="orderHasOrderPaymentMethodPK_orderorderId" value="#{orderHasOrderPaymentMethodController.selected.orderHasOrderPaymentMethodPK.orderorderId}" title="#{shopAdmin.EditOrderHasOrderPaymentMethodTitle_orderHasOrderPaymentMethodPK_orderorderId}" required="true" requiredMessage="#{shopAdmin.EditOrderHasOrderPaymentMethodRequiredMessage_orderHasOrderPaymentMethodPK_orderorderId}"/>
                    <h:outputLabel value="#{shopAdmin.EditOrderHasOrderPaymentMethodLabel_orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId}" for="orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId" />
                    <h:inputText id="orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId" value="#{orderHasOrderPaymentMethodController.selected.orderHasOrderPaymentMethodPK.orderpaymentmethodorderpaymentmethodId}" title="#{shopAdmin.EditOrderHasOrderPaymentMethodTitle_orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId}" required="true" requiredMessage="#{shopAdmin.EditOrderHasOrderPaymentMethodRequiredMessage_orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId}"/>
                </h:panelGrid>
                <h:commandLink action="#{orderHasOrderPaymentMethodController.update}" value="#{shopAdmin.EditOrderHasOrderPaymentMethodSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{shopAdmin.EditOrderHasOrderPaymentMethodViewLink}"/>
                <br />
                <h:commandLink action="#{orderHasOrderPaymentMethodController.prepareList}" value="#{shopAdmin.EditOrderHasOrderPaymentMethodShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.EditOrderHasOrderPaymentMethodIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
