<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListOrderHasOrderPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListOrderHasOrderPaymentMethodEmpty}" rendered="#{orderHasOrderPaymentMethodController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{orderHasOrderPaymentMethodController.items.rowCount > 0}">
                    <h:outputText value="#{orderHasOrderPaymentMethodController.pagination.pageFirstItem + 1}..#{orderHasOrderPaymentMethodController.pagination.pageLastItem + 1}/#{orderHasOrderPaymentMethodController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{orderHasOrderPaymentMethodController.previous}" value="#{shopAdmin.Previous} #{orderHasOrderPaymentMethodController.pagination.pageSize}" rendered="#{orderHasOrderPaymentMethodController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{orderHasOrderPaymentMethodController.next}" value="#{shopAdmin.Next} #{orderHasOrderPaymentMethodController.pagination.pageSize}" rendered="#{orderHasOrderPaymentMethodController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{orderHasOrderPaymentMethodController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderHasOrderPaymentMethodTitle_orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderHasOrderPaymentMethodPK.orderpaymentmethodorderpaymentmethodId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderHasOrderPaymentMethodTitle_orderHasOrderPaymentMethodPK_orderorderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderHasOrderPaymentMethodPK.orderorderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{orderHasOrderPaymentMethodController.prepareView}" value="#{shopAdmin.ListOrderHasOrderPaymentMethodViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderHasOrderPaymentMethodController.prepareEdit}" value="#{shopAdmin.ListOrderHasOrderPaymentMethodEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderHasOrderPaymentMethodController.destroy}" value="#{shopAdmin.ListOrderHasOrderPaymentMethodDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{orderHasOrderPaymentMethodController.prepareCreate}" value="#{shopAdmin.ListOrderHasOrderPaymentMethodCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListOrderHasOrderPaymentMethodIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
