<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewOrderHasOrderPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewOrderHasOrderPaymentMethodLabel_orderHasOrderPaymentMethodPK_orderorderId}"/>
                    <h:outputText value="#{orderHasOrderPaymentMethodController.selected.orderHasOrderPaymentMethodPK.orderorderId}" title="#{shopAdmin.ViewOrderHasOrderPaymentMethodTitle_orderHasOrderPaymentMethodPK_orderorderId}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderHasOrderPaymentMethodLabel_orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId}"/>
                    <h:outputText value="#{orderHasOrderPaymentMethodController.selected.orderHasOrderPaymentMethodPK.orderpaymentmethodorderpaymentmethodId}" title="#{shopAdmin.ViewOrderHasOrderPaymentMethodTitle_orderHasOrderPaymentMethodPK_orderpaymentmethodorderpaymentmethodId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{orderHasOrderPaymentMethodController.destroyAndView}" value="#{shopAdmin.ViewOrderHasOrderPaymentMethodDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewOrderHasOrderPaymentMethodEditLink}"/>
                <br />
                <h:commandLink action="#{orderHasOrderPaymentMethodController.prepareCreate}" value="#{shopAdmin.ViewOrderHasOrderPaymentMethodCreateLink}" />
                <br />
                <h:commandLink action="#{orderHasOrderPaymentMethodController.prepareList}" value="#{shopAdmin.ViewOrderHasOrderPaymentMethodShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewOrderHasOrderPaymentMethodIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
