<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/templates/site/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Frequently Asked Questions"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <div class="panel panel-primary">
                <div class="panel-heading panel-title"><i class="fa fa-user"></i> FAQ</div>
                <div class="panel-body">
                   
                    
                </div>
                <div class="panel-footer"></div>
            </div>
        </ui:define>
    </ui:composition>
    
</html>
