<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.CreateOrderlineitemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.CreateOrderlineitemLabel_orderlineitemid}" for="orderlineitemid" />
                    <h:inputText id="orderlineitemid" value="#{orderlineitemController.selected.orderlineitemid}" title="#{shopAdmin.CreateOrderlineitemTitle_orderlineitemid}" required="true" requiredMessage="#{shopAdmin.CreateOrderlineitemRequiredMessage_orderlineitemid}"/>
                    <h:outputLabel value="#{shopAdmin.CreateOrderlineitemLabel_customerorderId}" for="customerorderId" />
                    <h:inputText id="customerorderId" value="#{orderlineitemController.selected.customerorderId}" title="#{shopAdmin.CreateOrderlineitemTitle_customerorderId}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderlineitemLabel_productid}" for="productid" />
                    <h:inputText id="productid" value="#{orderlineitemController.selected.productid}" title="#{shopAdmin.CreateOrderlineitemTitle_productid}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderlineitemLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{orderlineitemController.selected.quantity}" title="#{shopAdmin.CreateOrderlineitemTitle_quantity}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderlineitemLabel_itemPrice}" for="itemPrice" />
                    <h:inputText id="itemPrice" value="#{orderlineitemController.selected.itemPrice}" title="#{shopAdmin.CreateOrderlineitemTitle_itemPrice}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderlineitemLabel_totalPrice}" for="totalPrice" />
                    <h:inputText id="totalPrice" value="#{orderlineitemController.selected.totalPrice}" title="#{shopAdmin.CreateOrderlineitemTitle_totalPrice}" />
                    <h:outputLabel value="#{shopAdmin.CreateOrderlineitemLabel_itemStatusCode}" for="itemStatusCode" />
                    <h:inputText id="itemStatusCode" value="#{orderlineitemController.selected.itemStatusCode}" title="#{shopAdmin.CreateOrderlineitemTitle_itemStatusCode}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{orderlineitemController.create}" value="#{shopAdmin.CreateOrderlineitemSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{orderlineitemController.prepareList}" value="#{shopAdmin.CreateOrderlineitemShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.CreateOrderlineitemIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
