<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListOrderlineitemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListOrderlineitemEmpty}" rendered="#{orderlineitemController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{orderlineitemController.items.rowCount > 0}">
                    <h:outputText value="#{orderlineitemController.pagination.pageFirstItem + 1}..#{orderlineitemController.pagination.pageLastItem + 1}/#{orderlineitemController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{orderlineitemController.previous}" value="#{shopAdmin.Previous} #{orderlineitemController.pagination.pageSize}" rendered="#{orderlineitemController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{orderlineitemController.next}" value="#{shopAdmin.Next} #{orderlineitemController.pagination.pageSize}" rendered="#{orderlineitemController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{orderlineitemController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderlineitemTitle_orderlineitemid}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderlineitemid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderlineitemTitle_customerorderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerorderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderlineitemTitle_productid}"/>
                            </f:facet>
                            <h:outputText value="#{item.productid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderlineitemTitle_quantity}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderlineitemTitle_itemPrice}"/>
                            </f:facet>
                            <h:outputText value="#{item.itemPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderlineitemTitle_totalPrice}"/>
                            </f:facet>
                            <h:outputText value="#{item.totalPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListOrderlineitemTitle_itemStatusCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.itemStatusCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{orderlineitemController.prepareView}" value="#{shopAdmin.ListOrderlineitemViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderlineitemController.prepareEdit}" value="#{shopAdmin.ListOrderlineitemEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{orderlineitemController.destroy}" value="#{shopAdmin.ListOrderlineitemDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{orderlineitemController.prepareCreate}" value="#{shopAdmin.ListOrderlineitemCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListOrderlineitemIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
