<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewOrderlineitemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewOrderlineitemLabel_orderlineitemid}"/>
                    <h:outputText value="#{orderlineitemController.selected.orderlineitemid}" title="#{shopAdmin.ViewOrderlineitemTitle_orderlineitemid}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderlineitemLabel_customerorderId}"/>
                    <h:outputText value="#{orderlineitemController.selected.customerorderId}" title="#{shopAdmin.ViewOrderlineitemTitle_customerorderId}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderlineitemLabel_productid}"/>
                    <h:outputText value="#{orderlineitemController.selected.productid}" title="#{shopAdmin.ViewOrderlineitemTitle_productid}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderlineitemLabel_quantity}"/>
                    <h:outputText value="#{orderlineitemController.selected.quantity}" title="#{shopAdmin.ViewOrderlineitemTitle_quantity}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderlineitemLabel_itemPrice}"/>
                    <h:outputText value="#{orderlineitemController.selected.itemPrice}" title="#{shopAdmin.ViewOrderlineitemTitle_itemPrice}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderlineitemLabel_totalPrice}"/>
                    <h:outputText value="#{orderlineitemController.selected.totalPrice}" title="#{shopAdmin.ViewOrderlineitemTitle_totalPrice}"/>
                    <h:outputText value="#{shopAdmin.ViewOrderlineitemLabel_itemStatusCode}"/>
                    <h:outputText value="#{orderlineitemController.selected.itemStatusCode}" title="#{shopAdmin.ViewOrderlineitemTitle_itemStatusCode}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{orderlineitemController.destroyAndView}" value="#{shopAdmin.ViewOrderlineitemDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewOrderlineitemEditLink}"/>
                <br />
                <h:commandLink action="#{orderlineitemController.prepareCreate}" value="#{shopAdmin.ViewOrderlineitemCreateLink}" />
                <br />
                <h:commandLink action="#{orderlineitemController.prepareList}" value="#{shopAdmin.ViewOrderlineitemShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewOrderlineitemIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
