<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.CreateShipmentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.CreateShipmentLabel_shipmentId}" for="shipmentId" />
                    <h:inputText id="shipmentId" value="#{shipmentController.selected.shipmentId}" title="#{shopAdmin.CreateShipmentTitle_shipmentId}" required="true" requiredMessage="#{shopAdmin.CreateShipmentRequiredMessage_shipmentId}"/>
                    <h:outputLabel value="#{shopAdmin.CreateShipmentLabel_customerorderId}" for="customerorderId" />
                    <h:inputText id="customerorderId" value="#{shipmentController.selected.customerorderId}" title="#{shopAdmin.CreateShipmentTitle_customerorderId}" />
                    <h:outputLabel value="#{shopAdmin.CreateShipmentLabel_shippingserviceId}" for="shippingserviceId" />
                    <h:inputText id="shippingserviceId" value="#{shipmentController.selected.shippingserviceId}" title="#{shopAdmin.CreateShipmentTitle_shippingserviceId}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{shipmentController.create}" value="#{shopAdmin.CreateShipmentSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{shipmentController.prepareList}" value="#{shopAdmin.CreateShipmentShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.CreateShipmentIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
