<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListShipmentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListShipmentEmpty}" rendered="#{shipmentController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{shipmentController.items.rowCount > 0}">
                    <h:outputText value="#{shipmentController.pagination.pageFirstItem + 1}..#{shipmentController.pagination.pageLastItem + 1}/#{shipmentController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{shipmentController.previous}" value="#{shopAdmin.Previous} #{shipmentController.pagination.pageSize}" rendered="#{shipmentController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{shipmentController.next}" value="#{shopAdmin.Next} #{shipmentController.pagination.pageSize}" rendered="#{shipmentController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{shipmentController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListShipmentTitle_shipmentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.shipmentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListShipmentTitle_customerorderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerorderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListShipmentTitle_shippingserviceId}"/>
                            </f:facet>
                            <h:outputText value="#{item.shippingserviceId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{shipmentController.prepareView}" value="#{shopAdmin.ListShipmentViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{shipmentController.prepareEdit}" value="#{shopAdmin.ListShipmentEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{shipmentController.destroy}" value="#{shopAdmin.ListShipmentDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{shipmentController.prepareCreate}" value="#{shopAdmin.ListShipmentCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListShipmentIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
