<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewShipmentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewShipmentLabel_shipmentId}"/>
                    <h:outputText value="#{shipmentController.selected.shipmentId}" title="#{shopAdmin.ViewShipmentTitle_shipmentId}"/>
                    <h:outputText value="#{shopAdmin.ViewShipmentLabel_customerorderId}"/>
                    <h:outputText value="#{shipmentController.selected.customerorderId}" title="#{shopAdmin.ViewShipmentTitle_customerorderId}"/>
                    <h:outputText value="#{shopAdmin.ViewShipmentLabel_shippingserviceId}"/>
                    <h:outputText value="#{shipmentController.selected.shippingserviceId}" title="#{shopAdmin.ViewShipmentTitle_shippingserviceId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{shipmentController.destroyAndView}" value="#{shopAdmin.ViewShipmentDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewShipmentEditLink}"/>
                <br />
                <h:commandLink action="#{shipmentController.prepareCreate}" value="#{shopAdmin.ViewShipmentCreateLink}" />
                <br />
                <h:commandLink action="#{shipmentController.prepareList}" value="#{shopAdmin.ViewShipmentShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewShipmentIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
