<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ph="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/WEB-INF/templates/site/templateNoSideNav.xhtml">

        <ui:define name="title">Login</ui:define>

        <ui:define name="content">
            <f:view>
            <div class="panel panel-primary">
                <div class="panel-heading panel-title">
                <div class="row">
                    <div class="col-xs-12">
                        <i class="glyphicon glyphicon-log-in"></i> Sign In or <i class="fa fa-user"></i> Register for a new account.
                           
                    </div>
                </div>
                </div>
            <div class="panel-body">
            <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel panel-heading panel-title"><i class="glyphicon glyphicon-log-in"></i> Sign In</div>
                    <div class="panel-body">
                    

                    <h:form id="login" class="form-horizontal" role="form">
                        <h:messages style="color: red"
                                    layout="table"/>
                        <fieldset id="loginFieldset">
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="username" class="control-label">Username</label>
                                <div>
                                    <input type="text"
                                             jsfc="h:inputText"
                                             id="username"
                                             value="#{loginBean.username}"
                                             class="form-control"
                                             required="true"
                                             requiredMessage="Username is required"
                                             ph:required="true"
                                             ph:requiredMessage="Username is required"
                                             />
                                </div>
                            </div>
                        </div>  
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="password" class="control-label">Password</label>
                                <div>
                                    <h:inputSecret id="password"                                                   
                                                   class="form-control"
                                                   value="#{loginBean.password}"
                                                   required="true"
                                                   requiredMessage="Password is required"/>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <h:commandButton id="submit"
                                             class="btn btn-info"
                                             value="Sign In"
                                             action="#{loginBean.validateUser}"
                                             />
                        </div>
                        </fieldset>
                        

                    </h:form>
                    </div>
                
                    <div class="panel-footer">
                        <ui:remove>
                        <h:form>
                        <h:commandButton id="create"
                                       value="Create New Account"
                                       action="register"
                                       class="btn btn-default"
                                       />
                        </h:form>
                        </ui:remove>
                    </div>
                </div>
            </div>
                <div class="col-xs-6">
                    <div class="panel panel-info" >
                        <div class="panel panel-heading panel-title"><i class="fa fa-user"></i> Register</div>
                        <div class="panel-body" jsfc="h:panelGroup" 
                             layout="block" 
                             rendered="#{!registerBean.isRegistered}">
                            <ui:include src="/register/create.xhtml" />
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>
                    
                </div>
            
            </div>
            </div>
                <div class="panel-footer"></div>
            </div>
            </f:view>
        </ui:define>
    </ui:composition>
</html>