<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

        <div class="panel panel-default">
            <div class="panel panel-heading">Create Product Category</div>
            <div class="panel-body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form class="form">
                <h:panelGrid columns="2">
                    <ui:remove>
                    <h:outputLabel value="#{messages.CreateProductCategoryLabel_productCategoryId}" 
                                   for="productCategoryId" 
                                   class=""/>
                    <h:inputText id="productCategoryId"
                                 value="#{productCategoryController.selected.productCategoryId}" 
                                 title="#{messages.CreateProductCategoryTitle_productCategoryId}" 
                                 required="true" 
                                 requiredMessage="#{messages.CreateProductCategoryRequiredMessage_productCategoryId}"/>
                    </ui:remove>
                    <h:outputLabel value="#{messages.CreateProductCategoryLabel_name}" 
                                   for="name"
                                   class="control-label"/>
                    <h:inputText id="name" value="#{productCategoryController.selected.name}" 
                                 title="#{messages.CreateProductCategoryTitle_name}"
                                 class="form-control"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{productCategoryController.create}" 
                               value="#{messages.CreateProductCategorySaveLink}"
                               class="btn btn-default"/>
                <br />
                <br />
                <h:commandLink action="#{productCategoryController.prepareList}" 
                               value="#{messages.CreateProductCategoryShowAllLink}" 
                               immediate="true"
                               class="btn btn-default"/>
                <br />
                <br />
                <h:link outcome="productAdmin" 
                        value="Product Admin Home"
                        class="btn btn-default"/>
            </h:form>
            </div>
        </div>
    

</html>
