<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="panel panel-default">
        <div class="panel panel-heading">Edit Product Category</div>
        <div class="panel-body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2" class="table">
                    <h:outputLabel value="#{messages.EditProductCategoryLabel_productCategoryId}" 
                                   for="productCategoryId" 
                                   class="control-label"/>
                    <h:inputText id="productCategoryId" 
                                 value="#{productCategoryController.selected.productCategoryId}" 
                                 title="#{messages.EditProductCategoryTitle_productCategoryId}" 
                                 required="true" 
                                 requiredMessage="#{messages.EditProductCategoryRequiredMessage_productCategoryId}"
                                 class="form-control-static"/>
                    <h:outputLabel value="#{messages.EditProductCategoryLabel_name}" 
                                   for="name"
                                   class="control-label"/>
                    <h:inputText id="name" 
                                 value="#{productCategoryController.selected.name}" 
                                 title="#{messages.EditProductCategoryTitle_name}"
                                 class="form-control"/>
                </h:panelGrid>
                
                <div class="btn-group">
                    <h:commandLink action="#{productCategoryController.update}" 
                                   value="#{messages.EditProductCategorySaveLink}"
                                   class="btn btn-default"/>

                    <h:link outcome="View" 
                            value="#{messages.EditProductCategoryViewLink}"
                            class="btn btn-default"/>

                    <h:commandLink action="#{productCategoryController.prepareList}" 
                                   value="#{messages.EditProductCategoryShowAllLink}" 
                                   immediate="true"
                                   class="btn btn-default"/>

                    <h:link outcome="productCategoryAdmin" 
                            value="#{messages.EditProductCategoryIndexLink}" 
                            class="btn btn-default"/>
                </div>
            </h:form>
        </div>
    </div>
    

</html>
