<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
     <ui:composition template="/WEB-INF/templates/admin/templateSbAdmin.xhtml">
        <f:metadata>
             <f:viewParam name="view" value="#{productCategoryController.view}"/>
             <f:viewParam name="page" value="#{productCategoryController.page}"/>
             <f:viewAction action="#{productCategoryController.viewAction}"/>
        </f:metadata> 
        
        <ui:define name="title">
            <h:outputText value="Product Category Admin"></h:outputText>
        </ui:define>
        <ui:define name="content">
            <ui:include src="#{productCategoryController.view}"/>
        </ui:define>
     </ui:composition>
</html>
