<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
        <div class="panel panel-default">
        <div class="panel-title panel-heading">Product Categories</div>
        <div class="panel-body">
        
        <h:form styleClass="form">
            
            <h:panelGroup layout="block" styleClass="panel">
                    <div class="btn-group btn-group-sm">
                        <h:commandLink action="#{productCategoryController.prepareCreate}" 
                                       value="#{messages.ListProductCategoryCreateLink}"
                                       class="btn btn-default"/>
                        <h:link outcome="productAdmin" 
                                value="#{messages.ListProductCategoryIndexLink}"
                                class="btn btn-default"/>
                        
                    </div>
                </h:panelGroup>
            
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            
            <h:outputText escape="false" value="#{messages.ListProductCategoryEmpty}" 
                          rendered="#{productCategoryController.items.rowCount == 0}"/>
            
            <h:panelGroup rendered="#{productCategoryController.items.rowCount > 0}">
                
                <h:dataTable 
                    value="#{productCategoryController.items}" 
                    var="item" 
                    class="table table-bordered table-striped"
                    rules="all" >
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages.ListProductCategoryTitle_productCategoryId}"/>
                        </f:facet>
                        <h:outputText value="#{item.productCategoryId}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{messages.ListProductCategoryTitle_name}"/>
                        </f:facet>
                        <h:outputText value="#{item.name}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Actions"/>
                        </f:facet>
                        <div class="btn btn-group">
                        <h:commandLink action="#{productCategoryController.prepareView}" 
                                       value="#{messages.ListProductCategoryViewLink}"
                                       immediate="true"
                                       class="btn btn-default"/>
                        
                        <h:commandLink action="#{productCategoryController.prepareEdit}" 
                                       value="#{messages.ListProductCategoryEditLink}"
                                       immediate="true"
                                       class="btn btn-default"/>
                        
                        <h:commandLink action="#{productCategoryController.destroy}" 
                                       value="#{messages.ListProductCategoryDestroyLink}"
                                       class="btn btn-default"/>
                        </div>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
           
        </h:form>
        </div>
        </div>
        

</html>
