<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    
      
        
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form class="form">
                <h:panelGrid columns="2" class="table table-bordered" >
                    
                    <h:outputText value="#{messages.ViewProductCategoryLabel_productCategoryId}"/>
                    <h:outputText value="#{productCategoryController.selected.productCategoryId}" 
                                  title="#{messages.ViewProductCategoryTitle_productCategoryId}"/>
                    
                    <h:outputText value="#{messages.ViewProductCategoryLabel_name}"/>
                    <h:outputText value="#{productCategoryController.selected.name}" 
                                  title="#{messages.ViewProductCategoryTitle_name}"/>
                </h:panelGrid>
               
               
                <h:link outcome="Edit" 
                        value="#{messages.ViewProductCategoryEditLink}"
                        class="btn btn-default"/>
                
                <h:commandLink action="#{productCategoryController.prepareCreate}" 
                               value="#{messages.ViewProductCategoryCreateLink}"
                               class="btn btn-default"/>
                
                <h:commandLink action="#{productCategoryController.prepareList}"
                               value="#{messages.ViewProductCategoryShowAllLink}"
                               class="btn btn-default"/>
                
                <h:link outcome="productCategoryAdmin" 
                        value="#{messages.ViewProductCategoryIndexLink}"
                        class="btn btn-default"/>

            </h:form>
        
    

</html>
