<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.CreatePaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.CreatePaymentMethodLabel_paymentmethodid}" for="paymentmethodid" />
                    <h:inputText id="paymentmethodid" value="#{paymentMethodController.selected.paymentmethodid}" title="#{shopAdmin.CreatePaymentMethodTitle_paymentmethodid}" required="true" requiredMessage="#{shopAdmin.CreatePaymentMethodRequiredMessage_paymentmethodid}"/>
                    <h:outputLabel value="#{shopAdmin.CreatePaymentMethodLabel_name}" for="name" />
                    <h:inputText id="name" value="#{paymentMethodController.selected.name}" title="#{shopAdmin.CreatePaymentMethodTitle_name}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{paymentMethodController.create}" value="#{shopAdmin.CreatePaymentMethodSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{paymentMethodController.prepareList}" value="#{shopAdmin.CreatePaymentMethodShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.CreatePaymentMethodIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
