<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListPaymentMethodEmpty}" rendered="#{paymentMethodController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{paymentMethodController.items.rowCount > 0}">
                    <h:outputText value="#{paymentMethodController.pagination.pageFirstItem + 1}..#{paymentMethodController.pagination.pageLastItem + 1}/#{paymentMethodController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{paymentMethodController.previous}" value="#{shopAdmin.Previous} #{paymentMethodController.pagination.pageSize}" rendered="#{paymentMethodController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{paymentMethodController.next}" value="#{shopAdmin.Next} #{paymentMethodController.pagination.pageSize}" rendered="#{paymentMethodController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{paymentMethodController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListPaymentMethodTitle_paymentmethodid}"/>
                            </f:facet>
                            <h:outputText value="#{item.paymentmethodid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListPaymentMethodTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{paymentMethodController.prepareView}" value="#{shopAdmin.ListPaymentMethodViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{paymentMethodController.prepareEdit}" value="#{shopAdmin.ListPaymentMethodEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{paymentMethodController.destroy}" value="#{shopAdmin.ListPaymentMethodDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{paymentMethodController.prepareCreate}" value="#{shopAdmin.ListPaymentMethodCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListPaymentMethodIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
