<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewPaymentMethodTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewPaymentMethodLabel_paymentmethodid}"/>
                    <h:outputText value="#{paymentMethodController.selected.paymentmethodid}" title="#{shopAdmin.ViewPaymentMethodTitle_paymentmethodid}"/>
                    <h:outputText value="#{shopAdmin.ViewPaymentMethodLabel_name}"/>
                    <h:outputText value="#{paymentMethodController.selected.name}" title="#{shopAdmin.ViewPaymentMethodTitle_name}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{paymentMethodController.destroyAndView}" value="#{shopAdmin.ViewPaymentMethodDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewPaymentMethodEditLink}"/>
                <br />
                <h:commandLink action="#{paymentMethodController.prepareCreate}" value="#{shopAdmin.ViewPaymentMethodCreateLink}" />
                <br />
                <h:commandLink action="#{paymentMethodController.prepareList}" value="#{shopAdmin.ViewPaymentMethodShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewPaymentMethodIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
