<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/WEB-INF/templates/site/templateNoSideNav.xhtml">
        <ui:define name="title">#{index.title}</ui:define>
        
        <ui:define name="content" >
                
        
            <!-- Carousel
    ================================================== -->
    
    <div class="panel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          
          <img class="img-responsive center-block first-slide" 
               src="#{request.contextPath}/img/extralarge.jpg" alt="First slide"/>
          <div class="container">
            <div class="carousel-caption">
                <h1 class="coolfont">Welcome to<br/> Ash's Magic Shop</h1>
              <p>Hello,<c:choose><c:when test="${sessionScope.user == null}">World!</c:when><c:otherwise>#{sessionScope.user.firstName}</c:otherwise></c:choose></p>
              <p><a jsfc="h:link" class="btn btn-lg btn-primary" outcome="mr-ash-magic-show/index" role="button">Book a Show</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive center-block second-slide" 
               src="http://placehold.it/364x413" alt="Second slide"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide img-responsive center-block"
               src="http://placehold.it/364x413" alt="Third slide"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    </div><!-- /panel -->
           
            
            
        

        <div class="panel">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading panel-title">
                    <h2>See Mr. Ash</h2>
                    </div>
                    <div class="panel-body">
                    <p></p>                                
                    <p class="text-center"><a jsfc='h:link' class="btn btn-primary" 
                          outcome='mr-ash-magic-show/index' 
                          role="button" value='Book a Show'/></p>
                    </div>
                    <div class="panel-footer"></div>
                </div>
                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading panel-title">
                        <h2>Newsletter Sign-Up</h2>
                    </div>
                    <ui:include src="newsletter/index.xhtml"/>
                </div>
                <div class="col-md-4 panel panel-default">
                    <div class="panel-heading">
                    <h2>Shop</h2>
                    </div>
                    <p><h:link class="btn btn-default" outcome='shop/index' role="button" value='#{index.local["shopLink"]}'/></p>
                </div>
            </div>

            <hr/>
           
        </div>
        </ui:define>
        <ui:define name="rightNav" rendered="false"></ui:define>
    </ui:composition>
</html>
