<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.CreateCustomerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.CreateCustomerLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{customerController.selected.customerId}" title="#{shopAdmin.CreateCustomerTitle_customerId}" required="true" requiredMessage="#{shopAdmin.CreateCustomerRequiredMessage_customerId}"/>
                    <h:outputLabel value="#{shopAdmin.CreateCustomerLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{customerController.selected.firstName}" title="#{shopAdmin.CreateCustomerTitle_firstName}" />
                    <h:outputLabel value="#{shopAdmin.CreateCustomerLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{customerController.selected.lastName}" title="#{shopAdmin.CreateCustomerTitle_lastName}" />
                    <h:outputLabel value="#{shopAdmin.CreateCustomerLabel_emailAddress}" for="emailAddress" />
                    <h:inputText id="emailAddress" value="#{customerController.selected.emailAddress}" title="#{shopAdmin.CreateCustomerTitle_emailAddress}" />
                    <h:outputLabel value="#{shopAdmin.CreateCustomerLabel_defaultAddressId}" for="defaultAddressId" />
                    <h:inputText id="defaultAddressId" value="#{customerController.selected.defaultAddressId}" title="#{shopAdmin.CreateCustomerTitle_defaultAddressId}" />
                    <h:outputLabel value="#{shopAdmin.CreateCustomerLabel_billToAddressId}" for="billToAddressId" />
                    <h:inputText id="billToAddressId" value="#{customerController.selected.billToAddressId}" title="#{shopAdmin.CreateCustomerTitle_billToAddressId}" />
                    <h:outputLabel value="#{shopAdmin.CreateCustomerLabel_shipToAddressId}" for="shipToAddressId" />
                    <h:inputText id="shipToAddressId" value="#{customerController.selected.shipToAddressId}" title="#{shopAdmin.CreateCustomerTitle_shipToAddressId}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customerController.create}" value="#{shopAdmin.CreateCustomerSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{customerController.prepareList}" value="#{shopAdmin.CreateCustomerShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.CreateCustomerIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
