<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.EditCustomerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{shopAdmin.EditCustomerLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{customerController.selected.customerId}" title="#{shopAdmin.EditCustomerTitle_customerId}" required="true" requiredMessage="#{shopAdmin.EditCustomerRequiredMessage_customerId}"/>
                    <h:outputLabel value="#{shopAdmin.EditCustomerLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{customerController.selected.firstName}" title="#{shopAdmin.EditCustomerTitle_firstName}" />
                    <h:outputLabel value="#{shopAdmin.EditCustomerLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{customerController.selected.lastName}" title="#{shopAdmin.EditCustomerTitle_lastName}" />
                    <h:outputLabel value="#{shopAdmin.EditCustomerLabel_emailAddress}" for="emailAddress" />
                    <h:inputText id="emailAddress" value="#{customerController.selected.emailAddress}" title="#{shopAdmin.EditCustomerTitle_emailAddress}" />
                    <h:outputLabel value="#{shopAdmin.EditCustomerLabel_defaultAddressId}" for="defaultAddressId" />
                    <h:inputText id="defaultAddressId" value="#{customerController.selected.defaultAddressId}" title="#{shopAdmin.EditCustomerTitle_defaultAddressId}" />
                    <h:outputLabel value="#{shopAdmin.EditCustomerLabel_billToAddressId}" for="billToAddressId" />
                    <h:inputText id="billToAddressId" value="#{customerController.selected.billToAddressId}" title="#{shopAdmin.EditCustomerTitle_billToAddressId}" />
                    <h:outputLabel value="#{shopAdmin.EditCustomerLabel_shipToAddressId}" for="shipToAddressId" />
                    <h:inputText id="shipToAddressId" value="#{customerController.selected.shipToAddressId}" title="#{shopAdmin.EditCustomerTitle_shipToAddressId}" />
                </h:panelGrid>
                <h:commandLink action="#{customerController.update}" value="#{shopAdmin.EditCustomerSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{shopAdmin.EditCustomerViewLink}"/>
                <br />
                <h:commandLink action="#{customerController.prepareList}" value="#{shopAdmin.EditCustomerShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.EditCustomerIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
