<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ListCustomerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{shopAdmin.ListCustomerEmpty}" rendered="#{customerController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{customerController.items.rowCount > 0}">
                    <h:outputText value="#{customerController.pagination.pageFirstItem + 1}..#{customerController.pagination.pageLastItem + 1}/#{customerController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{customerController.previous}" value="#{shopAdmin.Previous} #{customerController.pagination.pageSize}" rendered="#{customerController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{customerController.next}" value="#{shopAdmin.Next} #{customerController.pagination.pageSize}" rendered="#{customerController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{customerController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListCustomerTitle_customerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListCustomerTitle_firstName}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListCustomerTitle_lastName}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListCustomerTitle_emailAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.emailAddress}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListCustomerTitle_defaultAddressId}"/>
                            </f:facet>
                            <h:outputText value="#{item.defaultAddressId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListCustomerTitle_billToAddressId}"/>
                            </f:facet>
                            <h:outputText value="#{item.billToAddressId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{shopAdmin.ListCustomerTitle_shipToAddressId}"/>
                            </f:facet>
                            <h:outputText value="#{item.shipToAddressId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{customerController.prepareView}" value="#{shopAdmin.ListCustomerViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{customerController.prepareEdit}" value="#{shopAdmin.ListCustomerEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{customerController.destroy}" value="#{shopAdmin.ListCustomerDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{customerController.prepareCreate}" value="#{shopAdmin.ListCustomerCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ListCustomerIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
