<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{shopAdmin.ViewCustomerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{shopAdmin.ViewCustomerLabel_customerId}"/>
                    <h:outputText value="#{customerController.selected.customerId}" title="#{shopAdmin.ViewCustomerTitle_customerId}"/>
                    <h:outputText value="#{shopAdmin.ViewCustomerLabel_firstName}"/>
                    <h:outputText value="#{customerController.selected.firstName}" title="#{shopAdmin.ViewCustomerTitle_firstName}"/>
                    <h:outputText value="#{shopAdmin.ViewCustomerLabel_lastName}"/>
                    <h:outputText value="#{customerController.selected.lastName}" title="#{shopAdmin.ViewCustomerTitle_lastName}"/>
                    <h:outputText value="#{shopAdmin.ViewCustomerLabel_emailAddress}"/>
                    <h:outputText value="#{customerController.selected.emailAddress}" title="#{shopAdmin.ViewCustomerTitle_emailAddress}"/>
                    <h:outputText value="#{shopAdmin.ViewCustomerLabel_defaultAddressId}"/>
                    <h:outputText value="#{customerController.selected.defaultAddressId}" title="#{shopAdmin.ViewCustomerTitle_defaultAddressId}"/>
                    <h:outputText value="#{shopAdmin.ViewCustomerLabel_billToAddressId}"/>
                    <h:outputText value="#{customerController.selected.billToAddressId}" title="#{shopAdmin.ViewCustomerTitle_billToAddressId}"/>
                    <h:outputText value="#{shopAdmin.ViewCustomerLabel_shipToAddressId}"/>
                    <h:outputText value="#{customerController.selected.shipToAddressId}" title="#{shopAdmin.ViewCustomerTitle_shipToAddressId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{customerController.destroyAndView}" value="#{shopAdmin.ViewCustomerDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{shopAdmin.ViewCustomerEditLink}"/>
                <br />
                <h:commandLink action="#{customerController.prepareCreate}" value="#{shopAdmin.ViewCustomerCreateLink}" />
                <br />
                <h:commandLink action="#{customerController.prepareList}" value="#{shopAdmin.ViewCustomerShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{shopAdmin.ViewCustomerIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
