<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:include src="/WEB-INF/templates/admin/navbarHeader.xhtml" ></ui:include>
    <!-- /.navbar-header -->

    <ui:insert name="navbarTopLinks">
        <ui:include src="/WEB-INF/templates/admin/navbarTopLinks.xhtml" />
    </ui:insert>
    <!-- /.navbar-top-links -->


   
</html>

