<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:view>
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ui:insert name="navbarTop">
                <ui:include src="/WEB-INF/templates/admin/navbarTop.xhtml" />
            </ui:insert>
            
            <ui:insert name="sideNav">
                <ui:include src="/WEB-INF/templates/admin/sidenav.xhtml" />
            </ui:insert>
        </nav>

    </f:view>
</html>

