<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <f:view>
         
         <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..."/>
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a jsfc="h:link" outcome="admin">
                                <i class="fa fa-dashboard fa-fw"></i>
                                Admin Home
                            </a>
                        </li>
                        <li>
                            
                            <a href="#{request.contextPath}/admin/product/index.xhtml">
                                <i class="fa fa-table fa-fw"></i>
                                Product Management
                            </a>
                        </li>
                        <li>
                            <a href="#{request.contextPath}/admin/shop/customerOrder/"><i class="fa fa-table fa-fw"></i>Order Management</a>
                        </li>
                        <li>
                            <a href="#{request.contextPath}/admin/user/"><i class="fa fa-edit fa-fw"></i>User Management</a>
                        </li>
                       
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
         <!-- /.navbar-static-side -->
    </f:view>
</html>

