<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title><ui:insert name="title">JSF Facelets</ui:insert></title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>        
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
         <link rel="stylesheet"  href="#{request.contextPath}/css/bootstrap.min.css"/>
       
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="#{request.contextPath}/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet"  href="#{request.contextPath}/css/main.css"/>

        <script src="#{request.contextPath}/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </h:head>
    
    
    <body>
    <div id="header">
        <ui:insert name="header">
            <ui:include src="/WEB-INF/templates/admin/header.xhtml" />
        </ui:insert>
    </div>


    <div id="content">
        <ui:insert name="content">
            <!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
            <!-- <div> -->
            <!-- <ui:include src="content.xhtml"/> -->
            <!-- </div> -->
        </ui:insert>
    </div>

    <div id="footer">
        <ui:insert name="footer" >
            <ui:include src="/WEB-INF/templates/admin/footer.xhtml" />
        </ui:insert>
    </div>

    </body>
    <script src="#{request.contextPath}/js/vendor/jquery/jquery-1.11.2.min"></script>
    <script src="#{request.contextPath}/js/vendor/bootstrap.min.js"></script>
    <script src="#{request.contextPath}/js/main.js"></script>
</html>
