<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      lang="en">

 <h:head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title><ui:insert name="title">Ash's Magic Shop Admin</ui:insert></title>
    

    <!-- Bootstrap Core CSS -->   
    <h:outputStylesheet library="startbootstrap-sb-admin-2-1.0.7" 
                        name="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- MetisMenu CSS -->
    <h:outputStylesheet library="startbootstrap-sb-admin-2-1.0.7" 
                        name="bower_components/metisMenu/dist/metisMenu.min.css" />
                        
    <!-- Timeline CSS -->
    <h:outputStylesheet library="startbootstrap-sb-admin-2-1.0.7" 
                        name="dist/css/timeline.css" />

    <!-- Custom CSS -->
    <h:outputStylesheet library="startbootstrap-sb-admin-2-1.0.7" 
                        name="dist/css/sb-admin-2.css" />

    <!-- Morris Charts CSS -->
    <h:outputStylesheet library="startbootstrap-sb-admin-2-1.0.7" 
                        name="bower_components/morrisjs/morris.css" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="#{request.contextPath}/css/font-awesome.min.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--
    <![CDATA[[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]]]>-->

</h:head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <ui:insert name="navigation">
            <ui:include src="/WEB-INF/templates/admin/navigation.xhtml" />
        </ui:insert>
        
        <!-- Content -->
        <div id="page-wrapper">
            <ui:insert name="content">

            </ui:insert>
        </div>    
        
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <h:outputScript library="startbootstrap-sb-admin-2-1.0.7" name="bower_components/jquery/dist/jquery.min.js" />
    <!-- Bootstrap Core JavaScript -->
    <h:outputScript library="startbootstrap-sb-admin-2-1.0.7" name="bower_components/bootstrap/dist/js/bootstrap.min.js" />
    <!-- Metis Menu Plugin JavaScript -->
    <h:outputScript library="startbootstrap-sb-admin-2-1.0.7" name="bower_components/metisMenu/dist/metisMenu.min.js" />

    <!-- Morris Charts JavaScript -->  
    <h:outputScript library="startbootstrap-sb-admin-2-1.0.7" name="bower_components/raphael/raphael-min.js" />
  
    <h:outputScript library="startbootstrap-sb-admin-2-1.0.7" name="bower_components/morrisjs/morris.min.js" />
    <h:outputScript library="startbootstrap-sb-admin-2-1.0.7" name="js/morris-data.js" />

    <!-- Custom Theme JavaScript -->
    <h:outputScript library="startbootstrap-sb-admin-2-1.0.7" name="dist/js/sb-admin-2.js" />

</body>

</html>
